{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <h2 class="heading-medium process-step">
    Step 1 of 10
  </h2>

  <h1 class="heading-xlarge process-heading">
    Start page
  </h1> 


</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
