<!-- govuk_elements js -->
<script src="https://assets.digital.cabinet-office.gov.uk/static/libs/jquery/jquery-1.7.2-ddedae5e39858ae61299f41995c67529.js" type="text/javascript"></script>
<script src="/public/javascripts/modernizr.custom.77028.js"></script>
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/myjava.js"></script>
<script src="/public/javascripts/common.js"></script>
<script src="/public/javascripts/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/html-funcs.js"></script>
<script src="/public/javascripts/page-funcs.js"></script>
<script src="https://assets.digital.cabinet-office.gov.uk/static/application-3911e76b4386921377c977459f771965.js" type="text/javascript"></script>
<!-- <script src="/public/javascripts/application.js"></script>-->
<script src="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-078ca210270c1333a95facc07bce3a4b.js" type="text/javascript"></script>
<script src="https://assets.digital.cabinet-office.gov.uk/static/application-3911e76b4386921377c977459f771965.js" type="text/javascript"></script>
<script src="https://assets.digital.cabinet-office.gov.uk/frontend/frontend-fef3aa81d474222b385d1f254ba4a93b.js" type="text/javascript"></script>