{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

	<div class="form-group">

		<h1 class="heading-large">Has your condition changed since<br> you told us about it last time?</h1>

		<fieldset class="inline">
			<label class="block-label" for="radio-inline-1">
				<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
				Yes
			</label>
			<label class="block-label" for="radio-inline-2">
				<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
				No
			</label>
		</fieldset>

	</div>

	<a class="button" href="renew">Save and continue</a>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}

<!-- <main id="content" role="main">

	<div class="grid-row">

		<div class="column-half">

	      	<div class="form-group">
				<h1 class="heading-medium">Has your condition changed since you told us about it last time?</h1>
				<fieldset class="inline">
					<form action="condition-changed" method="get">
					<label class="block-label" for="radio-inline-1">
						<input id="radio-inline-1" type="radio" name="changed" value="Yes">
						Yes
					</label>
					<label class="block-label" for="radio-inline-2">
						<input id="radio-inline-2" type="radio" name="changed" value="No">
						No
					</label>
				</fieldset>
			</div>

    	</div>
    	<div class="column-half">
    		&nbsp;
    	</div>
  </div>

  <input type="submit" class="button" value="Save and continue">
</form>

</main> -->