{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">

</header>

<main id="page-container" role="main">

  <h1 class="form-title heading-medium">
      Thank you for telling us about your medical condition
  </h1> 

 <form id="medical-form" class="form">
   
    <div id="revoke" class="starthidden">
      <p>Thank you for telling us about your medical condition. The information you have provided tells us that you are unable to meet the 
      current medical standards for driving.</p>
      <p style="font-weight: bold;">This means that your licence has been revoked and you must not drive.</p>
      <p>A letter explaining the medical reason for the revocation has been sent to you. This includes advice on future re-application and your right of appeal.</p>
    </div>

    <div id="refuse" class="starthidden">
      <p>Thank you for applying for the renewal of your short period driving licence. The information you have provided tells us that 
      you are unable to meet the current medical standards for driving.</p>
      <p style="font-weight: bold;">This means that your application has been refused and you must not drive.</p>
      <p>A letter explaining the medical reason for the refusal has been sent to you. This includes advice on future re-application and your right of appeal.</p>
    </div>

    <div id="retain" class="starthidden">
      <p>Thank you for telling us about your medical condition. The information you have provided tells us that you are able to meet the current medical 
      standards for driving and you may continue driving using your current driving licence.</p>
    </div>

    <div id="reissue" class="starthidden">
      <p>Thank you for applying for the renewal of your short period driving licence. The information you have provided tells us that you are able to meet 
      the current medical standards for driving. A short period licence, subject to medical review in 3 years, has been issued to you.</p>
    </div>

    <div id="issue-70" class="starthidden">
      <p>Thank you for applying for the renewal of your short period driving licence. The information you have provided tells us that you are able to meet 
      the current medical standards for driving without the need for medical review. A licence valid until your 70th birthday has been issued to you.</p>
    </div>

    <div id="non-notify" class="starthidden">
      <p>Thank you for telling us about your medical condition. The condition you have declared does not require medical investigation by the DVLA. 
      Please consult your doctor who can inform you on the current standards of fitness to drive.</p>
    </div>

    <div id="further-thanks" class="starthidden">
      <p>Thank you for telling us about your medical condition.</p>
    </div>

    <div id="further-doctor" class="starthidden">
      <p>Thank you for applying for the renewal of your short period driving licence.</p>

      <p>We have asked Dr Davies to provide further information about your medical condition. We will inform you of the outcome when we receive a 
      reply. You may wish to contact the doctor directly if we have not received a reply within 2 weeks of this notice.</p>
    </div>

    <div id="acknowledgment">
      <p>The information you have provided has been sent to the Drivers Medical Group at DVLA for assessment.</p>
      <p>You will receive a letter within the next 10 days informing you of the result of the assessment or advising you of any further requirements.</p>
    </div>

    <br/><br/>

    <div>
      <p><a href="landing.html">Home</a></p>
    </div>

  </form>

</main>

<script>

try {
  //show(QueryString.code);
} catch(e) {
  // Absorb the exception of not finding the correct wording.
}

</script>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
