{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">F2D Prototype 3</h1>

	<h2 class="heading-large">Pages</h2>

	<ul class="list-bullet">
		<li><a href="/your-driving-licence-number">Your details</a></li>
		<li>Your condition (e.g. diabetes)</li>
		<li><a href="/care-seen-recently">Your GP/Consultant</a></li>
		<li>Your eyesight</li>
		<li><a href="/vehicle-automatic">Your vehicle (special controls)</a></li>
	</ul>

	<h2 class="heading-medium">Previous sprints</h2>
	<p><a href="http://fit2drive.herokuapp.com/">http://fit2drive.herokuapp.com</a></p>

	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
