
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

function next() {
  window.location.href = 'hypoglycaemia-symptoms?flow={{flow}}&conditions={{conditions}}';
}

function handle(element) {
  document.getElementById('continue').disabled = (!(element.checked));
}

</script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}
    
  <form action="medical-form" method="get" class="form">
    <p></p>
    
    <h1 class="heading-large">
      Insulin declaration
    </h1>
  
    <div class="grid-row content-block" id="qq" style="display: block;">
      <div class="column-two-thirds">
        <div class="important-notice">
          <p>Please read the following information carefully and tick the consent box:</p>
        </div>

        <div id="outer-group" name="outer-group" class="form-group">
		      <label id="outer-label" name="outer-label" class="large-block-label" for="declaration">
		        <input id="declaration" name="declaration" type="checkbox" style="display: none;" onchange="handle(this);"/>
              <span id="outer-span" name="outer-span" class="bounding-input">
                <span id="inner-span" name="inner-span" class="bounding-input-inner"></span>
              </span> 
              I have insulin treated diabetes and I understand the need to test my blood glucose/sugar at times relevant to driving (not more than 2 hours before the start of the first journey and every 2 hours while driving).
		      </label>
        </div>

      </div>
    </div>
    
    <div class="form-group">
      <!--input id="continue" name="continue" type="button" class="button" value="Continue" onclick="decision(this,'{{flow}}','{{conditions}}')"/--> 
      <input id="continue" name="continue" type="button" class="button" value="Save and continue" onclick="next();" disabled="true"/> 
    </div>
    
    <ul>
      <li><a href="javascript:history.go(-1);">Back</a></li>
    </ul>
    
  </form>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}