{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  	{{>includes/phase_banner}}

	<div class="form-group">

		<h1 class="form-title heading-large">
			As a result of your medical condition, do you need to drive an automatic vehicle?
		</h1>

		<fieldset class="inline" id="q1">
			<label class="block-label" for="radio-inline-1">
				<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
			</label>
			<label class="block-label" for="radio-inline-2">
				<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
			</label>		
		</fieldset>
		
	</div>

	<p>
		<br/><br/><br/>
	</p>

	<a class="button" href="vehicle-special-controls">Save and continue</a>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}