{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

	<div class="form-group">
		<h1 class="heading-large">What is your date of birth?</h1>
		<span class="form-hint">Please enter your date of birth as it appears on your licence</span>

		<div class="day field-wrapper">
			<label class="form-label" for="dob-day">
				Day
			</label>
			<input class="form-control" id="dob-day" type="text">
		</div>

		<div class="month field-wrapper">
			<label class="form-label" for="dob-month">
				Month
			</label>
			<input class="form-control" id="dob-month" type="text">
		</div>

		<div class="year field-wrapper">
			<label class="form-label" for="dob-year">
				Year
			</label>
			<input class="form-control" id="dob-year" type="text">
		</div>

		<span class="form-hint">Example: 31 03 1970</span>

	</div>

	<a class="button" href="your-postcode">Save and continue</a>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}