{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

	<div class="form-group postcode">

		<label class="form-label" for="postcode">
			<h1 class="heading-large">What is your postcode?</h1>
		<span class="form-hint">Please enter your postcode as it appears on your licence</span>
		</label>
		<input class="form-control" id="postcode" type="text">
		<span class="form-hint">Example: EH1 9SD</span>

		<!-- <div><details>
		<summary role="button" aria-controls="details-content" tabindex="0" aria-expanded="true">
		<span class="summary">I don’t know what postcode to use</span>
		</summary>
		<div class="panel-indent" id="details-content" aria-hidden="false" style="display:block;">
			<p>Some information here</p>
		</div>
		</details></div> -->

	</div>

	<a class="button" href="your-medical-conditions">Save and continue</a>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}