{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">


  

<script>
  function shownext() { 
    form2.style.display = "block";

  }
</script>

<script>
  function shownext2() { 
    form3.style.display = "block";

  }
</script>

<script>
  function shownext3() { 
    form4.style.display = "block";

  }
</script>

<script>
  function nextscreen() { 

    window.location.href ="diabetes-1.html";

  }
  
  </script>
</header>


<main id="page-container" role="main">

<h1 class="form-title heading-medium">
      What medical condition are you telling DVLA about?
    </h1> 
<!-- <br>
<br>
<br>



<div class="grid-row">
  
    <div class="column-two-thirds">

         
    
</div>
</div> -->


 <form id="form1"  class="form">
   
    <div class="form-group border-bottom">
       <label class="form-label" for="drivernumber">
        Medical condition</label>
        <span class="form-hint">For example, Diabetes</span>
        
           <input type="text" class="form-control" list=conditions id="drivernumber" name="housenum" >
           <datalist id=conditions >
<option> Acoustic neuroma</option>
<option>  Addison’s disease
<option>  Agoraphobia
<option>  AIDS
<option>  Alcohol problems
<option>  Alzheimer’s disease
<option>  Amyotrophic Lateral Sclerosis
<option>  Amputations
<option>  Aneurysm
<option>  Angina
<option>  Angioma
<option>  Angioplasty
<option>  Ankylosing spondylitis
<option>  Anorexia nervosa
<option>  Anxiety
<option>  Arachnoid cyst
<option>  Arnold-Chiari malformation
<option>  Arrhythmia
<option>  Arteriovenous malformation
<option>  Arthritis
<option>  Asperger syndrome
<option>  Ataxia
<option>  Attention deficit/hyperactivity disorder (ADHD)
<option>  Autistic spectrum disorders (ASD)
<option>  Balloon angioplasty (leg)
<option>  Bipolar disorder
<option>  Blackouts
<option>  Blepharospasm
<option>  Blood clots
<option>  Blood pressure
<option>  Brachial plexus injury
<option>  Brain abscess, cyst or encephalitis
<option>  Brain angioma
<option>  Brain haemorrhage
<option>  Brain injury (traumatic)
<option>  Brain tumours
<option>  Branch retinal vein occlusion
<option>  Broken limbs and driving
<option>  Burr hole surgery
<option>  Caesarean section
<option>  Cancer
<option>  Cataracts
<option>  Catheter ablation
<option>  Cardiac problems
<option>  Carotid artery stenosis
<option>  Cataplexy
<option>  Cerebral palsy
<option>  Chronic aortic dissection
<option>  Cognitive problems
<option>  Congenital heart disease
<option>  Convulsions
<option>  Coronary artery bypass or disease
<option>  Coronary angioplasty
<option>  Cystic fibrosis
<option>  Deafness
<option>  Defibrillator
<option>  Déjà vu
<option>  Dementia
<option>  Depression
<option>  Diabetes 
<option>  Dilated cardiomyopathy
<option>  Diplopia (double vision)
<option>  Dizziness
<option>  Drug misuse
<option>  Eating disorders
<option>  Empyema (brain)
<option>  Epilepsy
<option>  Essential tremor
<option>  Fainting
<option>  Fits
<option>  Fractured skull
<option>  Friedrich’s ataxia
<option>  Giddiness (recurring)
<option>  Glaucoma
<option>  Global amnesia
<option>  Grand mal fits
<option>  Guillain-Barré syndrome
<option>  Head injury
<option>  Heart attack
<option>  Heart arrhythmia
<option>  Heart failure
<option>  Heart murmurs
<option>  Heart palpitations
<option>  Hemianopia
<option>  High blood pressure
<option>  HIV
<option>  Hodgkin’s lymphoma 
<option>  Huntington’s disease
<option>  Hydrocephalus
<option>  Hypertension
<option>  Hypertrophic cardiomyopathy
<option>  Hypoglycaemia
<option>  Hypoxic brain damage
<option>  Hysterectomy
<option>  Intracerebral haemorrhage
<option>  Ischaemic heart disease
<option>  Kidney dialysis
<option>  Kidney problems
<option>  Korsakoff’s syndrome
<option>  Labyrinthitis
<option>  Learning difficulties
<option>  Left bundle branch block
<option>  Leukaemia
<option>  Lewy body dementia
<option>  Limb disability
<option>  Lumboperitoneal shunt
<option>  Lung cancer
<option>  Lymphoma
<option>  Macular degeneration
<option>  Malignant brain tumours
<option>  Malignant melanoma
<option>  Manic depressive psychosis
<option>  Marfan syndrome
<option>  Medulloblastoma
<option>  Memory problems (severe)
<option>  Meningioma
<option>  Mini-stroke
<option>  Monocular vision
<option>  Motor neurone disease
<option>  Multiple sclerosis
<option>  Myasthenia gravis
<option>  Myocardial infarction
<option>  Myoclonus
<option>  Narcolepsy
<option>  Night blindness
<option>  Nystagmus
<option>  Obsessive compulsive disorder
<option>  Obstructive sleep apnoea syndrome
<option>  Optic atrophy
<option>  Optic neuritis
<option>  Pacemakers
<option>  Palpitations
<option>  Paranoia
<option>  Paranoid schizophrenia
<option>  Paraplegia
<option>  Parkinson’s disease
<option>  Peripheral arterial disease
<option>  Peripheral neuropathy
<option>  Personality disorder
<option>  Petit mal seizures
<option>  Pituitary tumour
<option>  Post traumatic stress disorder (PTSD)
<option>  Psychosis
<option>  Psychotic depression
<option>  Renal dialysis
<option>  Retinal treatment
<option>  Retinopathy
<option>  Schizo-affective disorder
<option>  Schizophrenia
<option>  Scotoma
<option>  Seizures
<option>  Sight in one eye only
<option>  Sleep apnoea
<option>  Sleepiness (excessive daytime)
<option>  Spinal problems and injuries and driving
<option>  Stroke
<option>  Subarachnoid haemorrhage
<option>  Syncope
<option>  Tachycardia
<option>  Temporal lobe epilepsy
<option>  Tourette’s syndrome
<option>  Transient global amnesia
<option>  Transient ischaemic attack (TIA) 
<option>  Tunnel vision
<option>  Usher syndrome
<option>  Valve disease or replacement valve
<option>  Vertigo
<option>  Vision in one eye only
<option>  Visual acuity (reduced)
<option>  Visual field defects
<option>  VP shunts
<option>  Wolff-Parkinson-White syndrome
   

</datalist>

<input name="Findaddress" type="button" class="button-secondary" value="+ Add another condition" onclick="shownext()">
          
        </form>
      </div>
       </div>



<div class="grid-row "></div>



 <form id="form2" class="form starthidden">
   
    <div class="form-group border-bottom">
       <label class="form-label" for="drivernumber">
        Your second medical condition</label>
        
           <input type="text" class="form-control" list=conditions id="drivernumber" name="housenum" >
           

<input name="Findaddress2" type="button" class="button-secondary" value="+ Add another condition" onclick="shownext2()">
          
        </form>
      </div>
       </div>

 <div class="grid-row "></div>



 <form id="form3" class="form starthidden">
   
    <div class="form-group border-bottom">
       <label class="form-label" for="drivernumber">
        Your third medical condition</label>
        
           <input type="text" class="form-control" list=conditions id="drivernumber" name="housenum" >
          

<input name="Findaddress3" type="button" class="button-secondary" value="+ Add another condition" onclick="shownext3()">
          
        </form>
      </div>
       </div>  


<div class="grid-row"></div>



 <form id="form4" class="form starthidden">
   
    <div class="form-group border-bottom">
       <label class="form-label" for="drivernumber">
        Your fourth medical condition</label>
        
           <input type="text" class="form-control" list=conditions id="drivernumber" name="housenum" >
           

          
        </form>
      </div>
       </div>
       <p></p>

<div class="grid-row">
<div class="column-half">
<input name="Findaddress4" type="button" class="button" value="Continue" onclick="nextscreen()">  
</div>
</div>



</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
