{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<main id="page-container" role="main">

  <form action="D497check" method="get" class="form inline">     

    <h1 class="form-title heading-medium">
      As a result of your medical condition do you <em class="highlight">need</em> to drive a vehicle where the following has been fitted?
    </h1>
         
    <div class="grid-row starthidden" id="q15">
      <div class="column-full">

        <label class="form-label">Automatic Transmission</label>

        <div class="form-group">
          <label class="block-label" for="q15-a1" id="q15-a1-label">
            <input id="q15-a1" type="radio" name="q15-answer" value="Y" onclick="answer(this)">Yes
          </label>
          <label class="block-label" for="q15-a2" id="q15-a2-label">
            <input id="q15-a2" type="radio" name="q15-answer" value="N" onclick="answer(this)">No
          </label>
        </div>

      </div>
    </div>

    <div class="grid-row starthidden" id="q16">
      <div class="column-full">

        <label class="form-label">Special Adaptations</label>

        <div class="form-group">
          <label class="block-label" for="q16-a1" id="q16-a1-label">
            <input id="q16-a1" type="radio" name="q16-answer" value="Y" onclick="answer(this)">Yes
          </label>
          <label class="block-label" for="q16-a2" id="q16-a2-label">
            <input id="q16-a2" type="radio" name="q16-answer" value="N" onclick="answer(this)">No
          </label>
        </div>

      </div>
    </div>

    <div class="form-group">
      <input id="continue" type="button" class="button" value="Continue" onclick="decision(this)"/> 
    </div>

    <ul>
      <li><a href="javascript:history.go(-1);">Back</a></li>
    </ul>

  </form>

<script>

  var data = {
    state: "",
    validate: "true",
    questions: [
      {id: "q15", type: "radio", active: "true", answers: [
          {id: "q15-a1", value: "", show: ["q16"], hide: [], decision: ""},
          {id: "q15-a2", value: "", show: ["q16"], hide: [], decision: ""}
        ]
      },
      {id: "q16", type: "radio", active: "false", answers: [
          {id: "q16-a1", value: "", show: [], hide: [], decision: "1"},
          {id: "q16-a2", value: "", show: [], hide: [], decision: "2"}
        ]
      }
    ],
    decisions: [
      {id: "1", description: "Q16: Yes", message: "", redirect: "D497"},
      {id: "2", description: "Q16: No", message: "", redirect: "summary"}
    ]
  };

  initialise(data);

</script>

</main>


{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}