{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header>

</header>

<main id="page-container" role="main">

  <form action="medical-form" class="form">     
 
    <div class="grid-row" id="q5">
      <div class="column-full">

        <h1 class="form-title heading-medium">
          The legal eyesight standard for driving
        </h1>

        <p class="lede"><li>The legal eyesight standard means that you must be able to read a car number plate from 20 metres.</li><br><li>Also, you must not have been told by a doctor or optician that your eyesight is currently worse than 6/12 (decimal 0.5) on the Snellen scale.</li><br><li> If you are in any doubt, you should discuss with your optician or doctor.</li><br><span class="highlightfix"> <li >If required, you may wear glasses or corrective lenses to meet both of these standards.</li></span></p> 
     
        <h1 class="form-title heading-medium">
          Can you meet this legal eyesight standard for driving?
        </h1>
   
        <div class="form-group">

          <label class="block-label" for="q5-a1" id="q5-a1-label">
            <input id="q5-a1" type="radio" name="q5-answer" value="Y" onclick="answer(this)">Yes
          </label>
          <label class="block-label" for="q5-a2" id="q5-a2-label">
            <input id="q5-a2" type="radio" name="q5-answer" value="G" onclick="answer(this)">Yes - With glasses or corrective lenses
          </label>
          <label class="block-label" for="q5-a3" id="q5-a3-label">
            <input id="q5-a3" type="radio" name="q5-answer" value="N" onclick="answer(this)">No
          </label>
  
          <div class="grid-row"> <br> </div>
          <div class="grid-row"> <br> </div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <input id="continue" type="button" class="button" value="Continue" onclick="decision(this)" disabled="true"/> 
    </div>

    <ul>
      <li><a href="javascript:history.go(-1);">Back</a></li>
    </ul>

  </form>  
    
<script>

  var data = {
    state: "",
    validate: "true",
    questions: [
      {id: "q5", type: "radio", active: "true", answers: [
          {id: "q5-a1", value: "", show: [], hide: [], decision: "1"},
          {id: "q5-a2", value: "", show: [], hide: [], decision: "2"},
          {id: "q5-a3", value: "", show: [], hide: [], decision: "3"}
        ]
      }
    ],
    decisions: [
      {id: "1", description: "Q5: Yes", message: "", redirect: "insulin-declaration"},
      {id: "2", description: "Q5: Yes (WG)", message: "", redirect: "insulin-declaration"},
      {id: "3", description: "Q5: No", message: "", redirect: "finish?code=revoke"}
    ]
  };

  initialise(data);

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}