
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">

  <form action="medical-form" method="get" class="form inline">

    <div class="grid-row" id="q1">
      <div class="column-full">

        <h4 class="heading-medium">Do any of the symptoms listed below affect you?</h4>

      </div>
    </div>
  
    <div class="panel-indent" id="q1-info">
      <h3 class="heading-small">Click <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/193489/INF188_2.pdf" target="_new">here</a> for information for drivers with diabetes treated by non insulin medication, diet, or both.</h3>
      <p></p>
      <ul class="list-bullet">
        <li>You suffer more than one episode of severe hypoglycaemia within the last 12 months. You must also tell us if you or your medical team feel you are at high risk of developing severe hypoglycaemia. For Group 2 drivers (bus/lorry), one episode of severe hypoglycaemia must be reported immediately.</li>
        <li>You develop impaired awareness of hypoglycaemia. (Difficulty in recognising the warning symptoms of low blood sugar).</li>
        <li>nervousness</li>
        <li>You suffer severe hypoglycaemia while driving.</li>
        <li>You need laser treatment to both eyes or in the remaining eye if you have sight in one eye only.</li>
        <li>You have problems with vision in both eyes, or in the remaining eye if you have sight in one eye only. By law, you must be able to read, with glasses or contact lenses if necessary, a car number plate in good daylight at 20.5 metres (67 feet). In addition, the visual acuity (with the aid of glasses or contact lenses if worn) must be at least 6/12 (0.5 decimal) with both eyes open, or in the only eye if monocular.</li>
        <li>You develop any problems with the circulation, or sensation in your legs or feet which makes it necessary for you to drive certain types of vehicles only, for example automatic vehicles, or vehicles with a hand operated accelerator or brake. This must be shown on your driving licence.</li>
        <li>An existing medical condition gets worse or you develop any other condition that may affect your driving safely.</li>
      </ul>
    </div>

    <div class="grid-row" id="q1">
      <div class="column-full">

        <div class="form-group">
          <label class="block-label" for="q1-a1" id="q1-a1-label">
            <input id="q1-a1" type="radio" name="q1-answer" value="Y" onclick="answer(this)">Yes
          </label>
          <label class="block-label" for="q1-a2" id="q1-a2-label">
            <input id="q1-a2" type="radio" name="q1-answer" value="N" onclick="answer(this)">No
          </label>
        </div>

      </div>
    </div>

    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="decision(this,'{{flow}}','{{conditions}}')" disabled="true"> 
    </div>

  </form>

  <form action="{{next}}">
    <a class="back-to-previous" href="/drivers-details">
      <i class="fa fa-angle-left"></i>
      Back <span class="visuallyhidden"> to the previous question</span>
    </a> 
  </form>

<script>

  var data = {
    state: "",
    validate: "true",
    questions: [
      {id: "q1", type: "radio", active: "true", answers: [
          {id: "q1-a1", value: "", show: [], hide: [], decision: "1"},
          {id: "q1-a2", value: "", show: [], hide: [], decision: "2"}
        ]
      }
    ],
    decisions: [
      {id: "1", description: "Q1: Yes (Affect you)", message: "", redirect: "hypoglycaemia-episodes?flow={{flow}}&conditions={{conditions}}"},
      {id: "2", description: "Q1: No (Affect you)", message: "", redirect: "finish.html?code=non-notify"}
    ]
  };

  initialise(data);

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}