{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>
  
function next() { 
  window.location.href ="medical-care-1?flow={{flow}}&conditions={{conditions}}&path={{path}}";
}
  
</script>

</header>

<main id="page-container" role="main">

  <h1 class="form-title heading-medium">
    Important information about consent
  </h1> 

  <form id="medical-form">
 
    <div class="grid-row">
      <div class="column-full">

        <div class="dwp-permission-group">
          <label>
            <input type="checkbox" id="dwpPermission" name="dwpPermission" value="1">
            <span class="heading-small">Consent to the release of medical information</span>

            <p>IMPORTANT: Please read the following information carefully and tick the box to show you understand.</P>
            <ul class="list-bullet"> 
              <li>We have asked you for your consent for the release of medical reports from your doctors as we may require further information.</li><br/>
              <li>As part of the investigation into your fitness to drive, DVLA may require you to undergo a medical examination or some form of practical assessment. In these circumstances, those personnel involved will require your background medical details to undertake an appropriate and adequate assessment.</li><br/>
              <li>Such personnel might include Doctors, Orthoptists, Paramedical Staff or officers of the Secretary of State. Only information relevant to the assessment of your fitness to drive will be released.</li><br>
              <li>Where the circumstances of your case appear exceptional, the relevant medical information would need to be considered by one or more of the Secretary of State’s Honorary Medical Advisory Panels. The membership of these Panels conforms strictly to the principle of confidentiality.</li>
            </ul>
            <br/>  
            All data held by DVLA is used for internal evaluation of the quality of our services.

            <p class="heading-small">Consent and Declaration</P>
            <p>I authorise relevant medical information regarding my fitness to drive to be released , to both the Secretary of State’s medical adviser and any necessary medical professionals
            <br><br>
            I understand that it is a criminal offence if I make a false declaration or fail to provide information to obtain a driving licence and can lead to prosecution.
            <br><br>
            I authorise the Secretary of State to :
            <br><br>
            Inform my Doctor(s) of the outcome of my case
            <br><br>
            Release medical information, discovered during the investigation into my fitness to drive, to my Doctor(s)</p>
          </label>
        </div>
      </div>
    </div>

  </form>

  <p><br></p>
  
  <div class="grid-row">
    <div class="column-half">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="next()">  
    </div>
  </div>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
