
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">

  <form action="medical-form" method="get" class="form inline">

    <div class="grid-row" id="q1">
      <div class="column-full">

        <h4 class="heading-medium">Have you told us about this condition before?</h4>

        <div class="form-group">
          <label class="block-label" for="q1-a1" id="q1-a1-label">
            <input id="q1-a1" type="radio" name="q1-answer" value="Y" onclick="answer(this)">Yes
          </label>
          <label class="block-label" for="q1-a2" id="q1-a2-label">
            <input id="q1-a2" type="radio" name="q1-answer" value="N" onclick="answer(this)">No
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="decision(this,'empty','empty')" disabled="true"> 
    </div>

  </form>

  <form action="{{next}}">
    <a class="back-to-previous" href="javascript:history.go(-1);">
      <i class="fa fa-angle-left"></i>
      Back <span class="visuallyhidden"> to the previous question</span>
    </a> 
  </form>

<script>

  var data = {
    state: "",
    validate: "true",
    questions: [
      {id: "q1", type: "radio", active: "true", answers: [
          {id: "q1-a1", value: "", show: [], hide: [], decision: "1"},
          {id: "q1-a2", value: "", show: [], hide: [], decision: "2"}
        ]
      }
    ],
    decisions: [
      {id: "1", description: "Q1: Yes (Insulin)", message: "", redirect: "your-details.html"},
      {id: "2", description: "Q1: No (Insulin)", message: "", redirect: "your-details.html"}
    ]
  };

  initialise(data);

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}