{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<header class="page-header">


</header>


<main id="page-container" role="main">



<div id="wrapper" class="transaction service">
    <main id="content" role="main" class="group">
        <article>
            
<div id="blueBar"></div>

    </header>



    <h2 class="visuallyhidden">Personal Details </h2>

   

    <dl>
        <dt class="visually hidden">Name</dt>
       <div><h2 class="heading-medium">Summary </h2></div>
       <div><h2 class="heading-small border-bottom">Mr MYLES GORDON  STEVENS {{ROUTECHOICE}}</h2></div>
       <div class="grid-row border-bottom">
        <div class="column-quarter"> 
          <dt class="light-small">Date of birth</dt>
          <dt class="light-small">Gender</dt>
          <dt class="light-small">Address</dt></div>

        <div class="column-half"> 
          
          <dd class="bold-small">9 Jun 1971</dd>
          <dd class="bold-small">Male</dd>
          <dd class="bold-small">86 Tanylan Road  Morriston SWANSEA <span class="postcode">SA6 7DU</span>
        </dd></div>
        
    </dl>
  </div>
    </div>

<dl>
    
    <div><h2 class="heading-small">Medical condition you are notifying us about</h2> </div>

    
   

<div class="grid-row border-bottom">
   <div class="column-third"> <dl>
        <dt class="light-small">Medical condition</dt> 
        <dt class="light-small">GP's Address</dt>
        <dt class="light-small">The last time you visited your GP</dt>
        <dt class="light-small">Your consultant's name</dt>
        <dt class="light-small">Your consultant's address</dt>
        <dt class="light-small">The last time you visited your consultant</dt>

      </div>

<div class="column-two-thirds">
          <dd class="bold-small">Diabetes</dd>
        <dd class="bold-small">Sway Road Surgery, 65 Sway Road, Morriston SWANSEA, SA6 6JA</dd>
        <dd class="bold-small">23 Feb 2015</dd>
        <dd class="bold-small">Professor Stephen Bain</dd>
        <dd class="bold-small">Singleton Hospital,Sketty Lane, Sketty, SWANSEA, SA2 8QA</dd>
        <dd class="bold-small">04 Mar 2015</dd> 
         </div></div>
        
    </dl>
</div>
<div><h2 class="heading-small">Confirmations</h2> </div>
<div class="grid-row border-bottom">
  <div class ="column-full">
    <p>You have confirmed that your condition does not affect your ability to drive safely</P>
    <p>You have confirmed that you can read a number plate that is 20 meters away</P>
    <p>As a result of your condition you do not drive a vehicle with special adaptions</P>
    <p>As a result of your condition you do not drive a vehicle fitted with an automatic transmition</P>
     <p>You know what the symptoms of hypoglycaemia are</P>
 </div></div>


<div><h2 class="heading-small">Hypoglycaemia</h2> </div>
<div class="grid-row border-bottom">
  <div class ="column-full">
    <p>You have not had more than one episode of severe hypoglycaemia (requiring assistance from another person) in the last 12 months</P>
    
 </div></div>


      <div class="grid-row"> </div>

    
    <div class="dwp-permission-group">
            <label><input type="checkbox" id="dwpPermission" name="dwpPermission" value="1">
                By ticking this box I declare that I have checked the details I have given and that, to the best of my knowledge and belief they are correct.


            </label>
        </div>
       

<p class ="validation-message" id="postcodeerror"> </p>

  <form action="finish" method="get" class="form inline">
          <button type="submit" id="sub" name="sub" value ="{{ROUTECHOICE}}" class="button next validation-submit">
        Continue
    </button>

 
  </form>  
    
      <ul>
        <!-- <li><a href="#">Skip this section for now</a></li> -->
        <li><a href="/">Back</a></li>
      </ul>
</div>


</main>


{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
