
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <form action="medical-form" method="get" class="form inline">

    <div class="grid-row">
      <div class="column-two-thirds">

        <h4 class="heading-large">Telling DVLA about your medical condition</h4>
        
        <div id="diabetes-link" class="starthidden">
          <p>Some people who have diabetes not treated with insulin, develop associated problems that may affect their driving.</p>
        </div>

        <div id="glaucoma-link" class="starthidden">
          <p>Read the <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/350754/INF188X1_220814.pdf" rel="external" target="_new">vision information leaflet</a> for more information.</p>
        </div>
        
      </div>
    </div>

    <p>Please click the "Return to GOV.UK" button below to find out what you need to do.</p>
  <br/>
  <button type="button" id="continue" name="continue" value ="" class="button next validation-submit" onclick="next();">Return to GOV.UK</button>

</form>

<script>

if(sessionStorage.condition) {
  document.getElementById(sessionStorage.condition+'-link').style.display = 'block';
}

function next() {
  window.location.href = 'https://www.gov.uk/health-conditions-and-driving';
}

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}