
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">
  <script>
    // Add condition to the title
    /*
    $(document).ready(function() {
      $('#condition-heading').append(" for " + decodeURIComponent(QueryString.c));
      $('#condition-link').attr("href","https://www.gov.uk" + decodeURIComponent(QueryString.u));
    });
    */
    
  </script>
</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <form action="medical-form" method="get" class="form inline">

    <div class="grid-row" id="q1">
      <div class="column-two-thirds">

        <!--h4 id="condition-heading" class="heading-xlarge">DVLA notification form</h4-->
        <h4 id="condition-heading" class="heading-xlarge">Tell us about this condition</h4>
        
        <p>This service is relatively new with limited functionality and you are currently not able to tell us about this condition.</p>
        
        <p>Instead, please click the link <a id="condition-link" href="https://www.gov.uk/health-conditions-and-driving" rel="external">Health Conditions and Driving</a> to find out what you need to do.</p>
        
      </div>
    </div>

  </form>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}