
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <h2 class="heading-medium process-step">
    Step X of X
  </h2>
  <h1 class="heading-xlarge process-heading">
    Non-insulin treated declaration
  </h1>

  <form action="medical-form" method="get" class="form inline">

    <div class="grid-row" id="q1">
      <div class="column-full">
        <div class="important-notice">
          <p>Please read the following information carefully and tick the consent box:</p>
        </div>

      </div>
    </div>
  
    <div class="panel" id="q1-info">
      <span class="checkbox-label">
        <input id="checkbox-name" type="checkbox" value="checkbox-name">
        <label for="checkbox-name">
          <div class="panel-indent" id="q1-info">
            <h2 class="heading-small">I understand that I must tell the <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> if I develop any of the following symptoms:</h2>
            <ul class="list-bullet">
              <li>more than one episode of severe hypoglycaemia within the last 12 months</li>
              <li>difficulty in recognising the warning symptoms of hypoglycaemia</li><li>severe hypoglycaemia while driving</li>
              <li>problems with the circulation, or sensation in my legs or feet</li>
            </ul>
          </div>
      </span>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-small">More information</h3>
        <p>Download <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/193489/INF188_2.pdf">information for drivers with diabetes treated by non insulin medication, diet, or both</a> (<abbr title="Portable Document Format">PDF</abbr>, 397KB, 1 page).</p>
        <p class="font-xsmall">This file may not be suitable for users of assistive technology. <a href="#">Request a different format</a>.</p>
      </div>
    </div>

    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="decision(this,'{{flow}}','{{conditions}}')" disabled="true"> 
    </div>

  </form>

  <form action="">
    <a class="back-to-previous" href="your-details">
      <i class="fa fa-angle-left"></i>
      Back <span class="visuallyhidden"> to the previous question</span>
    </a> 
  </form>

<script>

  var data = {
    state: "",
    validate: "true",
    questions: [
      {id: "q1", type: "radio", active: "true", answers: [
          {id: "q1-a1", value: "", show: [], hide: [], decision: "1"},
          {id: "q1-a2", value: "", show: [], hide: [], decision: "2"}
        ]
      }
    ],
    decisions: [
      {id: "1", description: "Q1: Yes (Affect you)", message: "", redirect: "hypoglycaemia-episodes?flow={{flow}}&conditions={{conditions}}"},
      {id: "2", description: "Q1: No (Affect you)", message: "", redirect: "finish?code=non-notify"}
    ]
  };

  initialise(data);

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}