{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

function done() {
  window.location.href = 'landing';
}

</script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <h1 class="heading-xlarge">
      Thank you
  </h1> 

  <form id="medical-form" class="form">
   
    <div class="grid-row">

      <div class="column-two-thirds">
        <p>The information you have provided has been sent to the Drivers Medical Group at DVLA for assessment.</p>
        <div class="panel-indent">
          <div class="help-notice">
            <h2 class="heading-medium">What happens next?</h2>
          </div>
          <p>You will receive a letter within the next 10 days informing you of the result of the assessment or advising you of any further requirements.</p>
        </div>

        <div class="form-group">
          <input id="continue" name="continue" type="button" class="button" value="Done" onclick="done();" /> 
        </div>

      </div>

      <div class="column-third">
        <p></p>
      </div>

    </div>

  </form>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
