{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

function continueNext() {
  window.location.href = 'medical-care-3?flow={{flow}}&conditions={{conditions}}&name={{name}}&location={{location}}';
}
function skipNext() {
  window.location.href = 'medical-care-3?flow={{flow}}&conditions={{conditions}}';
}
function enableContinue() {
  document.getElementById('continue').removeAttribute('disabled');
}

</script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}
  
  <h2 class="heading-medium process-step">
    Step 5 of 7
  </h2>
  <h1 class="heading-xlarge process-heading">
    Your diabetes care
  </h1>

  <form id="medical-form" action="medical-care-2" method="get" class="form">

    <input type="hidden" id="flow" name="flow" value="{{flow}}"/>
    <input type="hidden" id="conditions" name="conditions" value="{{conditions}}"/>
    
    <span class="form-hint">
      What is the name and address of your consultant?
    </span>

    <div class="grid-row" style="margin-top: 2em;">
      <div class="column-third">
        <div class="form-group" id="q10">
          <label class="form-label" for="postcode">
            <span style="font-weight: 600;">Consultant name</span>
            <input placeholder="e.g. Smith or John Smith" id="q10-a1" title="Provide the name of your consultant." name="name" value="{{name}}" type="text" class="stretch-textbox form-control" onkeyup="" required>
            <br/>
          </label>
        </div>
      </div>

      <div class="column-third">
        <div class="form-group" id="q11">
          <label class="form-label" for="Consultantname">
            <span style="font-weight: 600;">Location</span> (optional)
            <input placeholder="e.g. Morriston Hospital" id="q11-a1" name="location" value="{{location}}" type="text" class="stretch-textbox form-control" onkeyup="">
              <br/>
          </label>
        </div>
      </div>
      
      <div class="column-third">
        <fieldset class="search-submit">
          <button type="submit" class="search-button-blue button">
            Search
          </button>
        </fieldset>
      </div>

    </div>
    
    <div id="search-results" class="grid-row" style="display: none;">
      <div class="column-two-thirds">
    
        <div id="outer-group" name="outer-group" class="form-group">
          <fieldset class="">
		  <label id="outer-label-1" name="outer-label-1" class="large-block-label" for="consultant-1">
		    <input id="consultant-1" name="consultant" type="radio" style="display: none;" onclick="javacript:enableContinue()" onchange=""/>
            <span id="outer-span-1" name="outer-span-1" class="bounding-input bounding-input-radio">
              <span id="inner-span-1" name="inner-span-1" class="bounding-input-inner"></span>
            </span> 
            <div class="consultant-record">
              <div class="consultant-name">{{name}}</div>
              <div class="consultant-occupation">Diabetes specialist nurse</div>
              <div class="consultant-location">{{location}}</div>
            </div>
		  </label>
          <label id="outer-label-2" name="outer-label-2" class="large-block-label" for="consultant-2">
		    <input id="consultant-2" name="consultant" type="radio" style="display: none;" onclick="javacript:enableContinue()" onchange=""/>
            <span id="outer-span-2" name="outer-span-2" class="bounding-input bounding-input-radio">
              <span id="inner-span-2" name="inner-span-2" class="bounding-input-inner"></span>
            </span> 
            <div class="consultant-record">
              <div class="consultant-name">John Adams</div>
              <div class="consultant-occupation">Diabetes specialist nurse</div>
              <div class="consultant-location">University Hospital of Wales, Cardiff</div>
            </div>
		  </label>
          </fieldset>
        </div>
        
      </div>
    </div>
    
    <!--<div class="grid-row">
      <div class="column-full">
        <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Doctor 1</td>
            <td>Surgeon</td>
            <td>Singleton Hospital, Swansea</td>
            <td><a href="">(Select)</a></td>
          </tr>
          <tr>
            <td>Doctor 2</td>
            <td>Surgeon</td>
            <td>Morriston Hospital, Swansea</td>
            <td><a href="">(Select)</a></td>
          </tr>
          <tr>
            <td>Doctor 3</td>
            <td>Surgeon</td>
            <td>Fforestfach Hospital, Swansea</td>
            <td><a href="">(Select)</a></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>-->
    
    <div class="grid-row">
      <p></p>
    </div>
    
    <div class="grid-row">
      <div id="continueBlock" class="column-quarter" style="display: none;">
        <div class="form-group">
          <!--input id="continue" type="button" class="button" value="Save and continue" onclick="decision(this,'{{flow}}','{{conditions}}')"/--> 
          <input id="continue" type="button" class="button" value="Save and continue" onclick="javascript:continueNext()" disabled="true"/> 
        </div>
      </div>
      <div class="column-two-thirds">
        <ul class="skip-link">
          <li><a href="javascript:skipNext()">Skip, I want to enter the details manually</a></li><p></p>
        </ul>
      </div>
    </div>
    
    <ul>
      <li><a href="javascript:history.go(-1);">Back</a></li>
    </ul>

  </form>

<script>


if("{{name}}".length > 0) {
  document.getElementById('search-results').style.display = 'block';
  document.getElementById('continueBlock').style.display = 'block';
  document.getElementById("q10-a1").focus();
}

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
