{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

function next() {
  window.location.href = 'medical-conditions';
}

</script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <h2 class="heading-medium process-step">
    Step 1 of 7
  </h2>
  <h1 class="heading-xlarge process-heading">
    Your details   
  </h1> 

  <form id="form1" action="medical-conditions" method="get" class="form" name="detailsForm">
   
    <h4 class="heading-medium question-heading">Enter details below as shown on your driving licence</h4>

    <br/>

    <div class="form-group">
      <label class="form-label" for="drivernumber">
        Your driving licence number
      </label>
      
      <span class="form-hint">
        For example, 'MORGA753116SM9IJ'
      </span>
      
      <input type="text" maxlength="16" class="form-control" id="driver-number" />

      <p></p>

      <details>
        <summary><span class="summary">Where to find your driving licence number</span></summary>
        <div class="panel-indent">
          <p>
            Your driving licence number can be found in section 5 of your driving licence photocard.
          </p>
          <p>
            <img src="{{assetPath}}images/icons/driving-licence-number-diagram.png" alt="Where to find your driving licence number" height="160" width="360"/>
          </p>
          <p>
            <a href="" target="_new">I don't have my driving licence</a>
          </p>
        </div>
      </details>
    </div>

    <div class="form-group">
       <label class="form-label">
        <label for="forename">First name(s)
            <span class="form-hint">For example, Sarah Meredyth</span>
           <input type="text" class="form-control" id="first" >
          <br>
      </label>
    
      <p></p>
     <label class="form-label" >
        <label for="forename">Surname
            <span class="form-hint">For example, Smith</span>
           <input type="text" class="form-control" id="surname" >
          <br>
      </label>
    
    <p></p>
    <label class="form-label" >
        <label for="forename">Postcode
            <span class="form-hint">For example, EH1 9SP</span>
           <input type="text" class="form-control" id="postcode">
          <br>
      </label>
    </div>
</div>
<p></p>


<div class="grid-row">
<div id="dob-control-group" class="column-third inline ">
   
    <fieldset>
        <legend><span id="dobLabel">Date of birth</span>
            <span class="form-hint">Example: 31 12 1975</span>
        </legend>
      <div class="grid-row">  
        <div class="column-quarter">
          <label class="form-label" >
          <label for="forename">Day
            <span class="form-hint"></span>
            <input type="tel" title="Day" class="form-control-3-4" id="Day" size="2" maxlength="2" tabindex="6" onkeyup="focusJump(this,this.value)" required>
         </label>
        </div>

        <div class="column-quarter">
          <label class="form-label" >
          <label for="forename">Month
            <span class="form-hint"></span>
            <input type="tel" title="Month" class="form-control-3-4" id="Month" size="2" maxlength="2" tabindex="7" onkeyup="focusJump(this,this.value)">
         </label>
        </div>

        <div class="column-half">
          <label class="form-label" >
          <label for="forename">Year
            <span class="form-hint"></span>
            <input type="tel" title="year" class="form-control-3-4" id="Year" size="4" maxlength="4" tabindex="8" onkeyup="focusJump(this,this.value)">
          </label>
        </div>
        </div>
    </fieldset>
    
</div>
</div>
     

<div class="grid-row">
   <div class="column-full">
   <br>
      <input type="button" id="continue" name="continue" class="button" value="Confirm" onclick="next(this);"/>
    
    </form>  
    
      <ul>
    
       
        <li><a href="javascript:history.go(-1);">Back</a></li>
      </ul>
    </div>
    </div>

    
<script>
document.getElementById("driver-number").focus();

// Checks length of field and changes focus if maximum is reached
function focusJump(elmnt,content) {
  if (content.length==elmnt.maxLength) {
	nextField=elmnt.tabIndex
    if (nextField<document.detailsForm.elements.length) {
      document.detailsForm.elements[nextField].focus()
    }
  }
}
</script>
    
</main>


{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
