{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation3}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<style type="text/css">

.border-bottom-summary {
  padding-right: -15px;
  border-width: 1px;
  border-color: #c0c0c0;
  border-bottom-style: solid;
  margin: 0 0px;
}

</style>

</header>

<main id="page-container" role="main">

  <div id="blueBar"></div>
   
    <div><h2 class="heading-medium">Summary </h2></div>
    <div><h2 class="heading-small">Your personal details  <a href="your-details-nodrivernumber">(Change)</a></h2> </div>
       
    <div class="grid-row border-bottom-summary" >
      <div class="column-quarter"> 
        <div class="light-small summary-title">Driving licence number</div >
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">MORGA753116SM9IJ</div >
      </div>
    </div>

    <div class="grid-row border-bottom-summary" >
      <div class="column-quarter"> 
        <div class="light-small summary-title">Name</div >
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">Mrs Emily Lines </div >
      </div>
    </div>
       
    <div class="grid-row border-bottom-summary">
      <div class="column-quarter"> 
        <div class="light-small summary-title" >Date of birth</div>
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">9 Jun 1971</div >
      </div>
    </div>

    <div class="grid-row border-bottom-summary">
      <div class="column-quarter"> 
        <div class="light-small summary-title" >Gender</div>
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">Female</div >
      </div>
    </div>

    <div class="grid-row border-bottom-summary">
      <div class="column-quarter"> 
        <div class="light-small summary-title" >Address</div>
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">86 Tanylan Road, Morriston, SWANSEA, <span class="postcode">SA6 7DU</span></div >
      </div>
    </div>
  
    <br>
    
    <div><h2 class="heading-small">Your medical condition(s)</h2> </div>

    <div class="grid-row border-bottom-summary" >
      <div class="column-quarter"> 
        <div class="light-small summary-title" >Medical condition</div >
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">{{flow}}  <a href="medical-conditions?flow={{flow}}&conditions={{conditions}}">(Change)</a></div >
      </div>
    </div>
  
    <br>
    <div><h2 class="heading-small">Your medical consultant</h2> </div>

    <div class="grid-row border-bottom-summary">
      <div class="column-quarter"> 
        <div class="light-small summary-title">Name</div>
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">Professor Stephen Bain  <a href="medical-care-3?flow={{flow}}&conditions={{conditions}}">(Change)</a></div >
      </div>
    </div>
    <div class="grid-row border-bottom-summary">
      <div class="column-quarter"> 
        <div class="light-small summary-title" >Address</div>
      </div>
      <div class="column-two-thirds">
        <div  class="bold-small summary-text">Singleton Hospital, Sketty Lane, Sketty, SWANSEA, SA2 8QA</div >
      </div>
    </div>
    <div class="grid-row border-bottom-summary">
      <div class="column-quarter"> 
        <div class="light-small summary-title" >Phone number</div>
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">01792 123321 </div >
      </div>
    </div>

    <br>
    <div><h2 class="heading-small">Confirmations</h2> </div>

    <div class="grid-row border-bottom-summary">
      <div class ="column-full">
        <div class="light-small summary-title">You have confirmed that you can read a number plate that is 20 metres away  <a href="eyesight-standard?flow={{flow}}&conditions={{conditions}}">(Change)</a></div>
      </div>
    </div>
    <div class="grid-row border-bottom-summary">
      <div class ="column-full">
        <div class="light-small summary-title">You have confirmed that you are not blind or partially sighted  <a href="glaucoma-start?flow={{flow}}&conditions={{conditions}}">(Change)</a></div>
      </div>
    </div>
    <div class="grid-row border-bottom-summary">
      <div class ="column-full">
        <div class="light-small summary-title">You have confirmed you do not drive a vehicle with special adaptions <a href="special-adaptations?flow={{flow}}&conditions={{conditions}}">(Change)</a></div>
      </div>
    </div>
    <div class="grid-row border-bottom-summary">
      <div class ="column-full">
        <div class="light-small summary-title">You have confirmed you do not drive a vehicle fitted with an automatic transmission <a href="special-adaptations?flow={{flow}}&conditions={{conditions}}">(Change)</a></div>
      </div>
    </div>
    <div class="grid-row border-bottom-summary">
      <div class ="column-full">
        <div class="light-small summary-title">You have confirmed that you know what the symptoms of hypoglycaemia are  <a href="hypoglycaemia-episodes?flow={{flow}}&conditions={{conditions}}">(Change)</a></div>
      </div>
    </div>

    <br>
    <div><h2 class="heading-small">Hypoglycaemia</h2> </div>

    <div class="grid-row border-bottom">
      <div class ="column-full">
        <div class="light-small summary-title">You have not had more than one episode of severe hypoglycaemia (requiring assistance from another person) in the last 12 months <a href="hypoglycaemia-episodes">(Change)</a></div>
      </div>
    </div>

    <div class="grid-row"> </div>

    <div class="dwp-permission-group" >
      <label style="display: block; margin-left: 20px"><input type="checkbox" id="dwpPermission" name="dwpPermission" value="1" style="float: left; margin-left: -20px; margin-right: 7px;">
        I confirm that the answers I have given are correct to the best of my knowledge and I am aware that it is a criminal offence to make a false declaration and that this could lead to imprisonment.
      </label>
    </div>
       
    <p class ="validation-message" id="postcodeerror"> </p>

    <form action="finish" method="get" class="form inline">
      <button type="submit" id="sub" name="sub" value ="{{ROUTECHOICE}}" class="button next validation-submit">Continue</button>
    </form>  
    
    <br/><br/>
    <a href="/">Back</a>

  </div>

</main>


{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
