{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<style>
 .ui-autocomplete {
      padding: 0;
      list-style: none;
      background-color: #fff;
      width: 15em;
      border-left: 1px solid #BFC1C3;
      border-right: 1px solid #BFC1C3;
      max-height: 190px;
      overflow-x: hidden;
    }
    .ui-autocomplete-input {
      padding: .5em;
    }
    .ui-autocomplete .ui-menu-item {
      display: block;
      font-size: 1.2em;
      padding: .5em;
      color: #353D44;
      cursor: pointer;
    }
    .ui-autocomplete .ui-menu-item:first-child {
      border-top: none;
    }
    .ui-autocomplete .ui-menu-item.ui-state-focus {
      color: #fff;
      background-color: #0097cf;
    }
  .ui-helper-hidden-accessible { display:none; }
  .ui-autocomplete {
    position: absolute;
    border-bottom: 1px solid #BFC1C3;
  }
</style>

<script src="/public/javascripts/jquery-1.11.1.min.js"></script>
<script src="/public/javascripts/jquery-ui.min.js"></script>
<script src="/public/javascripts/jquery.select-to-autocomplete.js"></script>
  <script>
    (function($){
      $(function(){
        $('select').selectToAutocomplete();
        $('input').autocomplete ({sortResults:false})
      });
    })(jQuery);
  </script>
  
  <script>
  if(sessionStorage.condition) {
    sessionStorage.removeItem('condition');
  }
  </script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <div class="grid-row" id="q1">
    <div class="column-full">
      <div class="form-group">
        <h1 class="heading-large">What condition are you telling us about?</h1>

        <form onsubmit="return process();">
          <div id="condition-question">
            <legend>
              <span class="error-message" style="display: none;">Please enter a valid condition</span>
            </legend>


            <select name="Condition" placeholder="" id="condition-selector" autofocus autocorrect="off" autocomplete="off" copy-attributes-to-text-field="false" style="min-width: 320px;">
              <optgroup style="font-size:18px;">
                <option value="" selected="selected">Your condition</option>
                <option value="acoustic-neuroma" data-alternative-spellings="" info-url="/acoustic-neuroma-and-driving">Acoustic neuroma</option>
                <option value="addisons-disease" data-alternative-spellings="Addison's addisons" info-url="/addisons-disease-driving">Addison’s disease</option>
                <option value="agrophobia" data-alternative-spellings="" info-url="/agoraphobia-and-driving">Agoraphobia</option>
                <option value="aids" data-alternative-spellings="hiv A.I.D.S. H.I.V." info-url="/aids-and-driving">AIDS</option>
                <option value="alcohol-problems" data-alternative-spellings="" info-url="/alcohol-problems-and-driving">Alcohol problems</option>
                <option value="alzheimers-disease" data-alternative-spellings="Alzheimer's alzheimers" info-url="/alzheimers-disease-and-driving">Alzheimer’s disease</option>
                <option value="amputations" data-alternative-spellings="" info-url="/amputations-and-driving">Amputations</option>
                <option value="aneurysm" data-alternative-spellings="" info-url="/aneurysm-and-driving">Aneurysm</option>
                <option value="angina" data-alternative-spellings="" info-url="/angina-and-driving">Angina</option>
                <option value="angioma" data-alternative-spellings="" info-url="/angioma-and-driving">Angioma</option>
                <option value="angioplasty" data-alternative-spellings="Brain angioma" info-url="/angioplasty-and-driving">Angioplasty</option>
                <option value="ankylosing-spondylitis" data-alternative-spellings="" info-url="/ankylosing-spondylitis-and-driving">Ankylosing spondylitis</option>
                <option value="anxiety" data-alternative-spellings="" info-url="/anxiety-and-driving">Anxiety</option>
                <option value="arachnoid-cyst" data-alternative-spellings="" info-url="/arachnoid-cyst-and-driving">Arachnoid cyst</option>
                <option value="arnold-chiari-malformation" data-alternative-spellings="" info-url="/arnold-chiari-malformation-and-driving">Arnold-Chiari malformation</option>
                <option value="arrhythmia" data-alternative-spellings="Heart arrhythmia" info-url="/arrhythmia-and-driving">Arrhythmia</option>
                <option value="arteriovenous-malformation" data-alternative-spellings="" info-url="/arteriovenous-malformation-and-driving">Arteriovenous malformation</option>
                <option value="arthritis" data-alternative-spellings="" info-url="/arthritis-and-driving">Arthritis</option>
                <option value="asperger" data-alternative-spellings="" info-url="/asperger-and-driving">Asperger syndrome</option>
                <option value="ataxia" data-alternative-spellings="Friedrich's ataxia" info-url="/ataxia-and-driving">Ataxia</option>
                <option value="adhd" data-alternative-spellings="hyperactive" info-url="/adhd-and-driving">Attention deficit/hyperactivity disorder (ADHD)</option>
                <option value="asd" data-alternative-spellings="" info-url="/asd-and-driving">Autistic spectrum disorders (ASD)</option>
                <option value="balloon-angioplasty-leg" data-alternative-spellings="" info-url="/balloon-angioplasty-leg-and-driving">Balloon angioplasty (leg)</option>
                <option value="bipolar-disorder" data-alternative-spellings="Manic depressive psychosis" info-url="/bipolar-disorder-and-driving">Bipolar disorder</option>
                <option value="blackouts" data-alternative-spellings="Syncope" info-url="/blackouts-and-driving">Blackouts</option>
                <option value="blepharospasm" data-alternative-spellings="Fainting" info-url="/blepharospasm-and-driving">Blepharospasm</option>
                <option value="blood-clots" data-alternative-spellings="" info-url="/blood-clots-and-driving">Blood clots</option>
                <option value="blood-pressure" data-alternative-spellings="" info-url="/blood-pressure-driving">Blood pressure</option>
                <option value="brachial-plexus" data-alternative-spellings="" info-url="/brachial-plexus-and-driving">Brachial plexus injury</option>
                <option value="brain-abscess-cyst-encephalitis" data-alternative-spellings="" info-url="/brain-abscess-cyst-encephalitis-driving">Brain abscess, cyst or encephalitis</option>
                <option value="brain-haemorrhage" data-alternative-spellings="" info-url="/brain-haemorrhage-and-driving">Brain haemorrhage</option>
                <option value="brain-injury" data-alternative-spellings="" info-url="/brain-injury-and-driving">Brain injury (traumatic)</option>
                <option value="brain-tumour" data-alternative-spellings="Malignant brain tumours" info-url="/brain-tumour-and-driving">Brain tumours</option>
                <option value="branch-retinal-vein-occlusion" data-alternative-spellings="" info-url="/branch-retinal-vein-occlusion-and-driving">Branch retinal vein occlusion</option>
                <option value="broken-limbs" data-alternative-spellings="" info-url="/broken-limbs-driving">Broken limbs and driving</option>
                <option value="burr-hole-surgery" data-alternative-spellings="" info-url="/burr-hole-surgery-and-driving">Burr hole surgery</option>

                <option value="caesarean-section" data-alternative-spellings="" info-url="/caesarean-section-and-driving">Caesarean section</option>
                <option value="cancer" data-alternative-spellings="" info-url="/cancer-and-driving">Cancer</option>
                <option value="cataracts" data-alternative-spellings="" info-url="/cataracts-and-driving">Cataracts</option>
                <option value="catheter-ablation" data-alternative-spellings="" info-url="/catheter-ablation-and-driving">Catheter ablation</option>
                <option value="cardiac-problems" data-alternative-spellings="" info-url="/cardiac-problems-driving">Cardiac problems</option>
                <option value="carotid-artery-stenosis" data-alternative-spellings="" info-url="/carotid-artery-stenosis-and-driving">Carotid artery stenosis</option>
                <option value="cataplexy" data-alternative-spellings="" info-url="/cataplexy-and-driving">Cataplexy</option>
                <option value="cerebral-palsy" data-alternative-spellings="" info-url="/cerebral-palsy-and-driving">Cerebral palsy</option>
                <option value="chronic-aortic-dissection" data-alternative-spellings="" info-url="/chronic-aortic-dissection-and-driving">Chronic aortic dissection</option>
                <option value="cognitive-problems" data-alternative-spellings="" info-url="/cognitive-problems-and-driving">Cognitive problems</option>
                <option value="congenital-heart-disease" data-alternative-spellings="" info-url="/congenital-heart-disease-and-driving">Congenital heart disease</option>
                <option value="convulsions" data-alternative-spellings="" info-url="/convulsions-and-driving">Convulsions</option>
                <option value="coronary-artery-bypass" data-alternative-spellings="" info-url="/coronary-artery-bypass-and-driving">Coronary artery bypass or disease</option>
                <option value="angioplasty" data-alternative-spellings="" info-url="/angioplasty-and-driving">Coronary angioplasty</option>
                <option value="cystic-fibrosis" data-alternative-spellings="" info-url="/cystic-fibrosis-and-driving">Cystic fibrosis</option>

                <option value="deafness" data-alternative-spellings="" info-url="/deafness-and-driving">Deafness</option>
                <option value="defibrillators" data-alternative-spellings="" info-url="/defibrillators-and-driving">Defibrillator</option>
                <option value="deja-vu" data-alternative-spellings="deja" info-url="/deja-vu-and-driving">Déjà vu</option>
                <option value="dementia" data-alternative-spellings="" info-url="/dementia-and-driving">Dementia</option>
                <option value="depression" data-alternative-spellings="" info-url="/depression-and-driving">Depression</option>
                <option start-url="diabetes-with-insulin" value="diabetes" relevancy-score-booster="10" data-alternative-spellings="(type
(type1)
(type2)
(typr
1)
2)
blood
daiabetees
daiabeties
daiabettes
daiebetes
daiebetic
deibites
deibitic
diab1
diabbettes
diabeateys
diabeaties
diabeetees
diabeetes
diabeeteys
diabetees
diabetes
diabetese
diabetic
diabetics
diabeties
diabetis
diabets
diabettes
diabettys
diabetus
diabities
dibetes
dibeties
dieabeeties
diebeetus
diebetes
diebetis
diebetus
diet
direbetes
diubetes
diubetus
dyabeetes
dyabetes
dyabetic
dyabeties
dyabetus
dyabites
dyabitic
glucose
hypo
hypoglycaemia
injection
insolin
insulin
level
low
sugar
tablets
treated" info-url="/diabetes-driving">Diabetes</option>
                <option value="dilated-cardiomyopathy" data-alternative-spellings="" info-url="/dilated-cardiomyopathy-and-driving">Dilated cardiomyopathy</option>
                <option value="diplopia" data-alternative-spellings="" info-url="/diplopia-and-driving">Diplopia (double vision)</option>
                <option value="dizziness" data-alternative-spellings="" info-url="/dizziness-and-driving">Dizziness</option>
                <option value="drug-use" data-alternative-spellings="" info-url="/drug-use-and-driving">Drug misuse</option>

                <option value="eating-disorders" data-alternative-spellings="Anorexia nervosa" info-url="/eating-disorders-and-driving">Eating disorders</option>
                <option value="empyema" data-alternative-spellings="" info-url="/empyema-and-driving">Empyema (brain)</option>
                <option value="epilepsy" data-alternative-spellings="Temporal lobe epilepsy" info-url="/epilepsy-and-driving">Epilepsy</option>
                <option value="benign-essential-tremor" data-alternative-spellings="" info-url="/benign-essential-tremor-and-driving">Essential tremor</option>

                <option value="dizziness" data-alternative-spellings="dizziness" info-url="/dizziness-and-driving">Giddiness (recurring)</option>
                <option value="grand-mal-fits" data-alternative-spellings="" info-url="/grand-mal-fits-and-driving">Grand mal fits</option>
                <option value="guillain-barre-syndrome" data-alternative-spellings="" info-url="/guillain-barre-syndrome-and-driving">Guillain-Barré syndrome</option>

                <option start-url="glaucoma-vision" value="glaucoma" data-alternative-spellings="glaucoma gluacoma glcoma glicoma soreeyes marajuana glucoma glacoma glycoma" info-url="/glaucoma-and-driving">Glaucoma</option>

                <option value="head-injury" data-alternative-spellings="Fractured skull" info-url="/head-injury-and-driving">Head injury</option>
                <option value="heart-attacks" data-alternative-spellings="Myocardial infarction" info-url="/heart-attacks-and-driving">Heart attack</option>
                <option value="heart-failure" data-alternative-spellings="" info-url="/heart-failure-and-driving">Heart failure</option>
                <option value="heart-murmurs" data-alternative-spellings="" info-url="/heart-murmurs-and-driving">Heart murmurs</option>
                <option value="heart-palpitations" data-alternative-spellings="Palpitations" info-url="/heart-palpitations-and-driving">Heart palpitations</option>
                <option value="hemianopia" data-alternative-spellings="" info-url="/hemianopia-and-driving">Hemianopia</option>
                <option value="high-blood-pressure" data-alternative-spellings="Hypertension" info-url="/high-blood-pressure-and-driving">High blood pressure</option>
                <option value="hiv" data-alternative-spellings="aids A.I.D.S. H.I.V." info-url="/hiv-and-driving">HIV</option>
                <option value="hodgkins-lymphoma" data-alternative-spellings="hodgkins hodgkin's" info-url="/hodgkins-lymphoma-and-driving">Hodgkin’s lymphoma</option>
                <option value="huntingtons-disease" data-alternative-spellings="huntington's huntingtons" info-url="/huntingtons-disease-and-driving">Huntington’s disease</option>
                <option value="hydrocephalus" data-alternative-spellings="" info-url="/hydrocephalus-and-driving">Hydrocephalus</option>
                <option value="hypertrophic-cardiomyopathy" data-alternative-spellings="" info-url="/hypertrophic-cardiomyopathy-and-driving">Hypertrophic cardiomyopathy</option>
                <option value="hypoglycaemia" data-alternative-spellings="" info-url="/hypoglycaemia-and-driving">Hypoglycaemia</option>
                <option value="hypoxic-brain-damage" data-alternative-spellings="" info-url="/hypoxic-brain-damage-and-driving">Hypoxic brain damage</option>
                <option value="hysterectomy" data-alternative-spellings="" info-url="/hysterectomy-and-driving">Hysterectomy</option>

                <option value="intracerebral-haemorrhage" data-alternative-spellings="" info-url="/intracerebral-haemorrhage-and-driving">Intracerebral haemorrhage</option>
                <option value="ischaemic-heart-disease" data-alternative-spellings="" info-url="/ischaemic-heart-disease-and-driving">Ischaemic heart disease</option>

                <option value="kidney-dialysis" data-alternative-spellings="Renal dialysis" info-url="/kidney-dialysis-and-driving">Kidney dialysis</option>
                <option value="kidney-problems" data-alternative-spellings="" info-url="/kidney-problems-and-driving">Kidney problems</option>
                <option value="korsakoffs-syndrome" data-alternative-spellings="korsakoff's korsakoffs" info-url="/korsakoffs-syndrome-and-driving">Korsakoff’s syndrome</option>

                <option value="labyrinthitis" data-alternative-spellings="" info-url="/labyrinthitis-and-driving">Labyrinthitis</option>
                <option value="learning-difficulties" data-alternative-spellings="" info-url="/learning-difficulties-and-driving">Learning difficulties</option>
                <option value="left-bundle-branch-block" data-alternative-spellings="" info-url="/left-bundle-branch-block-and-driving">Left bundle branch block</option>
                <option value="leukaemia" data-alternative-spellings="" info-url="/leukaemia-and-driving">Leukaemia</option>
                <option value="lewy-body-dementia" data-alternative-spellings="" info-url="/lewy-body-dementia-and-driving">Lewy body dementia</option>
                <option value="limb-disability" data-alternative-spellings="" info-url="/limb-disability-and-driving">Limb disability</option>
                <option value="lumboperitoneal-shunt" data-alternative-spellings="" info-url="/lumboperitoneal-shunt-and-driving">Lumboperitoneal shunt</option>
                <option value="lung-cancer" data-alternative-spellings="" info-url="/lung-cancer-and-driving">Lung cancer</option>
                <option value="lymphoma" data-alternative-spellings="" info-url="/lymphoma-and-driving">Lymphoma</option>

                <option value="macular-degeneration" data-alternative-spellings="" info-url="/macular-degeneration-and-driving">Macular degeneration</option>
                <option value="malignant-melanoma" data-alternative-spellings="" info-url="/malignant-melanoma-and-driving">Malignant melanoma</option>
                <option value="marfan-syndrome" data-alternative-spellings="" info-url="/marfan-syndrome-and-driving">Marfan syndrome</option>
                <option value="medulloblastoma" data-alternative-spellings="" info-url="/medulloblastoma-driving">Medulloblastoma</option>
                <option value="severe-memory-problems" data-alternative-spellings="" info-url="/severe-memory-problems-and-driving">Memory problems (severe)</option>
                <option value="meningioma" data-alternative-spellings="" info-url="/meningioma-and-driving">Meningioma</option>
                <option value="monocular-vision" data-alternative-spellings="Sight vision in one eye only" info-url="/monocular-vision-and-driving">Monocular vision</option>
                <option value="motor-neurone-disease" data-alternative-spellings="" info-url="/motor-neurone-disease-and-driving">Motor neurone disease</option>
                <option value="multiple-sclerosis" data-alternative-spellings="'Amyotrophic Lateral Sclerosis'" info-url="/multiple-sclerosis-and-driving">Multiple sclerosis</option>
                <option value="myasthenia-gravis" data-alternative-spellings="" info-url="/myasthenia-gravis-and-driving">Myasthenia gravis</option>
                <option value="myoclonus" data-alternative-spellings="" info-url="/myoclonus-and-driving">Myoclonus</option>

                <option value="narcolepsy" data-alternative-spellings="" info-url="/narcolepsy-and-driving">Narcolepsy</option>
                <option value="night-blindness" data-alternative-spellings="" info-url="/night-blindness-and-driving">Night blindness</option>
                <option value="nystagmus" data-alternative-spellings="" info-url="/nystagmus-and-driving">Nystagmus</option>

                <option value="obsessive-compulsive-disorder" data-alternative-spellings="" info-url="/obsessive-compulsive-disorder-and-driving">Obsessive compulsive disorder</option>
                <option value="obstructive-sleep-apnoea" data-alternative-spellings="" info-url="/obstructive-sleep-apnoea-and-driving">Obstructive sleep apnoea syndrome</option>
                <option value="optic-atrophy" data-alternative-spellings="" info-url="/optic-atrophy-and-driving">Optic atrophy</option>
                <option value="optic-neuritis" data-alternative-spellings="" info-url="/optic-neuritis-and-driving">Optic neuritis</option>

                <option value="pacemakers" data-alternative-spellings="" info-url="/pacemakers-and-driving">Pacemakers</option>
                <option value="paranoid-schizophrenia" data-alternative-spellings="Paranoia" info-url="/paranoid-schizophrenia-and-driving">Paranoid schizophrenia</option>
                <option value="paraplegia" data-alternative-spellings="" info-url="/paraplegia-and-driving">Paraplegia</option>
                <option value="parkinsons-disease" data-alternative-spellings="parkinson's parkinsons" info-url="/parkinsons-disease-and-driving">Parkinson’s disease</option>
                <option value="peripheral-arterial-disease" data-alternative-spellings="" info-url="/peripheral-arterial-disease-and-driving">Peripheral arterial disease</option>
                <option value="peripheral-neuropathy" data-alternative-spellings="" info-url="/peripheral-neuropathy-and-driving">Peripheral neuropathy</option>
                <option value="personality-disorder" data-alternative-spellings="" info-url="/personality-disorder-and-driving">Personality disorder</option>
                <option value="petit-mal" data-alternative-spellings="" info-url="/petit-mal-and-driving">Petit mal seizures</option>
                <option value="pituitary-tumour" data-alternative-spellings="" info-url="/pituitary-tumour-and-driving">Pituitary tumour</option>
                <option value="post-traumatic-stress-disorder" data-alternative-spellings="" info-url="/post-traumatic-stress-disorder-and-driving">Post traumatic stress disorder (PTSD)</option>
                <option value="psychosis" data-alternative-spellings="" info-url="/psychosis-and-driving">Psychosis</option>
                <option value="psychotic-depression" data-alternative-spellings="" info-url="/psychotic-depression-and-driving">Psychotic depression</option>

                <option value="retinal-treatment" data-alternative-spellings="" info-url="/retinal-treatment-and-driving">Retinal treatment</option>
                <option value="retinopathy" data-alternative-spellings="" info-url="/retinopathy-and-driving">Retinopathy</option>

                <option value="schizo-affective-disorder" data-alternative-spellings="" info-url="/schizo-affective-disorder-and-driving">Schizo-affective disorder</option>
                <option value="schizophrenia" data-alternative-spellings="" info-url="/schizophrenia-and-driving">Schizophrenia</option>
                <option value="scotoma" data-alternative-spellings="" info-url="/scotoma-and-driving">Scotoma</option>
                <option value="seizures" data-alternative-spellings="Fits" info-url="/seizures-and-driving">Seizures</option>
                <option value="obstructive-sleep-apnoea" data-alternative-spellings="" info-url="/obstructive-sleep-apnoea-and-driving">Sleep apnoea</option>
                <option value="sleepiness" data-alternative-spellings="" info-url="/sleepiness-and-driving">Sleepiness (excessive daytime)</option>
                <option value="spinal-problems" data-alternative-spellings="" info-url="/spinal-problems-driving">Spinal problems or injuries</option>
                <option value="stroke" data-alternative-spellings="" info-url="/stroke-and-driving">Stroke</option>
                <option value="subarachnoid-haemorrhage" data-alternative-spellings="" info-url="/subarachnoid-haemorrhage-and-driving">Subarachnoid haemorrhage</option>

                <option value="tachycardia" data-alternative-spellings="" info-url="/tachycardia-and-driving">Tachycardia</option>
                <option value="tourettes-syndrome" data-alternative-spellings="tourette's tourettes" info-url="/tourettes-syndrome-and-driving">Tourette’s syndrome</option>
                <option value="transient-global-amnesia" data-alternative-spellings="Global amnesia" info-url="/transient-global-amnesia-and-driving">Transient global amnesia</option>
                <option value="transient-ischaemic-attacks" data-alternative-spellings="'Mini-stroke'" info-url="/transient-ischaemic-attacks-and-driving">Transient ischaemic attack (TIA)</option>

                <option value="tunnel-vision" data-alternative-spellings="" info-url="/tunnel-vision-and-driving">Tunnel vision</option>

                <option value="usher-syndrome" data-alternative-spellings="" info-url="/usher-syndrome-and-driving">Usher syndrome</option>

                <option value="valve-disease" data-alternative-spellings="" info-url="/valve-disease-and-driving">Valve disease or replacement valve</option>
                <option value="vertigo" data-alternative-spellings="" info-url="/vertigo-and-driving">Vertigo</option>
                <option value="reduced-visual-acuity" data-alternative-spellings="" info-url="/reduced-visual-acuity-and-driving">Visual acuity (reduced)</option>
                <option value="visual-field-defects" data-alternative-spellings="" info-url="/visual-field-defects-and-driving">Visual field defects</option>
                <option value="vp-shunts" data-alternative-spellings="" info-url="/vp-shunts-and-driving">VP shunts</option>

                <option value="wolff-parkinson-white-syndrome" data-alternative-spellings="" info-url="/wolff-parkinson-white-syndrome-and-driving">Wolff-Parkinson-White syndrome</option>
              </optgroup>
            </select>
          </div>

          <p></p>
          <button style="margin-top: .5em;" class="button" type="button" onclick="process();">Continue</button>
        </form>

        <details style="margin-top: 1em;">
          <summary>
            <span class="summary">
              Why can’t I choose more than one condition?
            </span>
          </summary>
          <div class="panel-indent">
            <p>This service is currently in the alpha phase. This means that the service is relatively new, with limited functionality.</p>
            <p>If you would like to report more than one condition, please download and complete the <a id="condition-link" href="https://www.gov.uk/health-conditions-and-driving" rel="external">paper forms</a> &ndash; then post them to the DVLA.</p>
          </div>
        </details>

      </div>
    </div>
  </div>

  <script type="text/javascript">

    function process() {
      var selectedCondition = $('#condition-selector').find(':selected');
      
      var condition = encodeURIComponent(selectedCondition.text());

      if (selectedCondition.attr('value') == '') {
        $('#condition-question').addClass('error');
        $('.error-message').show();
      } else {
        if (selectedCondition.attr('start-url')) {
          sessionStorage.condition = selectedCondition.attr('value');
          window.location.href = selectedCondition.attr('start-url');
        } else {
          var infoURL = encodeURIComponent(selectedCondition.attr('info-url'));
          window.location.href = "exit/unsupported-condition?c=" + condition + "&u=" + infoURL;
        }
      }
      return false;
    }

    $(document).ready(function() {
      $('.ui-autocomplete-input').focus();
    });


  </script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}