{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

  function next() {
    window.location.href = 'https://www.gov.uk/browse/driving';
  }

</script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <h1 class="form-title heading-large">
      Your information has now been submitted
  </h1>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="heading-medium">Can I drive while enquiries are being made?</h2>
      <p>DVLA cannot tell you if this applies to you, because they cannot confirm your fitness to drive until investigations are complete. You must be confident 
      that your licence would not be revoked due to any medical condition you declare.</p>  <p>If you are unsure please seek advice from your Doctor.</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>The information you have provided has been sent to the Drivers Medical Group at DVLA for assessment. We will aim to assess your information within 10 days. Once your information has been assessed, 
        you will be sent a letter to inform you the outcome.</p>

        <p>Further information can be found on <a href="http://www.gov.uk/driving-medical-conditions/what-happens-after-you-tell-dvla" rel="external">www.gov.uk/driving-medical-conditions/what-happens-after-you-tell-dvla</a></p>

      <h2 class="heading-medium">Informing you of a decision</h2>
      <p>Once a decision has been made, you will be sent a letter to inform you of DVLA's decision.</p>
      <p>DVLA provide this correspondence to ensure data protection.</p>
    </div>
  </div>
  <br/>
  <button type="submit" id="continue" name="continue" value ="" class="button next validation-submit" onclick="next();">Return to GOV.UK website</button>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
