{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<style type="text/css">

.border-bottom-summary {
  padding-right: -15px;
  border-width: 1px;
  border-color: #c0c0c0;
  border-bottom-style: solid;
  margin: 0 0px;
}

</style>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <h2 class="heading-large">
    Your details
  </h2>

  <span class="form-hint">
    The following details are currently held on your driving licence
  </span> 

  <br/>

  <div id="blueBar"></div>
   
       
    <!-- Driving Licence Number -->
    <div class="grid-row border-bottom-summary column-two-thirds">

      <div class="column-half"> 
        <div class="light-small summary-title">Driving licence number</div >
      </div>

      <div class="column-half">
        <div  class="bold-small summary-text">
          <div id="driving-licence-number-text" class="">
            MORGA753116SM9IJ
          </div>
        </div >
      </div>

    </div>

    <div class="grid-row border-bottom-summary column-two-thirds">

      <div class="column-half"> 
        <div class="light-small summary-title">Name</div >
      </div>

      <div class="column-half">
        <div  class="bold-small summary-text">
          <div id="name-text" class="">
            Mrs Emily Lines
          </div>
          <div id="name-edit" class="starthidden">
            <input type="text" id="name" name="name" value="Mrs Emily Lines" size="25" />
          </div>
        </div >
      </div>

    </div>
       
    <div class="grid-row border-bottom-summary column-two-thirds">
      <div class="column-half"> 
        <div class="light-small summary-title">Address</div>
      </div>
      <div class="column-half">
        <div  class="bold-small summary-text">
          <div id="address-line-1">86 Tanylan Road</div>
          <div id="address-line-2">Morriston</div>
          <div id="address-line-3">SWANSEA</div>
          <span class="postcode">SA6 7DU</span>
        </div>
      </div>
    </div>
  
    <br>
    
    <div class="grid-row" id="q1">
      <div class="column-full">

        <h4 class="heading-large">Is the address on your driving licence correct?</h4>
        
        <form class="inline">

        <div class="form-group" id="question">
          <legend>
            <span class="error-message" style="display: none;">
              Please select a valid option
            </span>
          </legend>
          
          <label class="block-label" for="q1-a1" id="q1-a1-label">
            <input id="q1-a1" type="radio" name="q1-answer" value="Y" onclick="">Yes
          </label>
          <label class="block-label" for="q1-a2" id="q1-a2-label">
            <input id="q1-a2" type="radio" name="q1-answer" value="N" onclick="">No
          </label>
        </div>

        </form>

    </div>
    </div>

    <br/>

    <div class="grid-row"> </div>


    <button type="submit" id="continue" name="continue" value ="" class="button next validation-submit" onclick="validate();">Continue</button>
    
  </div>

<script>

  function validate() {
      var value = $('input[name=q1-answer]:checked').val();
      
      if(!sessionStorage.condition) {
        alert('No medical condition was selected.');
        return;
      }

      if (value == 'Y') {
        /*
        if(sessionStorage.condition == 'diabetes') {
          go('hypoglycaemia-symptoms-information');
        } else {
          go('legal-eyesight-standard');
        }
        */
        go('contact-details')
      } else if (value == 'N') {
        go('change-address');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
  }

</script>

</main>


{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
