{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

	<div class="form-group">

	<h1 class="form-title heading-large">
      Confirm consultants details
    </h1>

    <div id="q13">
      <span class="form-hint">Amend address if needed and Confirm</span>
      <div class="validation-wrapper">
        <p><input id="q13-a1" name="q13-a1" type="text" class="form-control" value="Dr Gregory House"></p>
        <p><input id="q13-a2" name="q13-a2" type="text" class="form-control" value="Diabetes Clinic"></p>
        <p><input id="q13-a3" name="q13-a3" type="text" class="form-control" value="Morriston Hospital"></p>
        <p><input id="q13-a4" name="q13-a4" type="text" class="form-control" value="Heol Maes Eglwys" ></p>
        <p><input id="q13-a5" name="q13-a5" type="text" class="form-control" value="SWANSEA"></p>
        <p><input id="q13-a6" name="q13-a6" type="text" class="form-control" value="sa6 6nl" style="text-transform: uppercase;"></p>
      </div>
    </div>

	<a class="button" href="consultant-contact">Save and continue</a>

<script>

document.getElementById('q13-a1').focus();

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}