{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <form id="my-form">

    <h1 class="heading-large">Would you like to receive a confirmation email?</h1>

      <div class="form-group" id="question">
        <legend>
          <span class="error-message" style="display: none;">
            Please select a valid option
          </span>
        </legend>
          
        <label class="block-label" for="q1-a1" id="q1-a1-label">
          <input id="q1-a1" type="radio" name="q1-answer" value="Y" onclick="validate(this)">Yes
        </label>
        <label class="block-label" for="q1-a2" id="q1-a2-label">
          <input id="q1-a2" type="radio" name="q1-answer" value="N" onclick="validate(this)">No
        </label>
      </div>

		  <div class="form-group starthidden" id="q8">
        <label class="form-label" for="postcode" id="q8-a1-label">
          <span class="heading-medium">Your email address</span><br/>
          <input id="q8-a1" name="q8-a1" type="email" maxlength="40" class="form-control"/>
          <br/>
        </label>
      </div>

	 <a class="button" href="javascript:next(this);">Continue</a>

  </form>

<script>

document.getElementById('q8-a1').focus();

function validate(element) {
  if(element.value == 'Y') {
    show('q8');
    document.getElementById('q8-a1').focus();
  } else {
    hide('q8');
  }
}

function next(element) {
      var value = $('input[name=q1-answer]:checked').val();
      
      if(!sessionStorage.condition) {
        alert('No medical condition was selected.');
        return;
      }

      if (value == 'Y') {
        if(sessionStorage.condition == 'diabetes') {
          go('hypoglycaemia-symptoms-information');
        } else {
          go('legal-eyesight-standard');
        }
      } else if (value == 'N') {
        go('change-address');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
}

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}