{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

	<div class="form-group">

		<h1 class="heading-large">Contact details</h1>

    <p>If you would like a confirmation email or text message of your notification and further status updates as your notification progresses, tell us your email address and/or phone number here. 
      If you do not wish confirmation of your notification, leave the fields blank and continue.</p>
		<div class="form-group" id="q8">
      <label class="form-label" for="postcode" id="q8-a1-label">
        <span class="heading-medium">Your email address</span>
        <span class="form-hint">
          For example, 'john@home.com'
        </span>
        <input id="q8-a1" name="q8-a1" type="email" maxlength="40" class="form-control"/>
        <br/>
      </label>
    </div>

    <div class="form-group" id="q9">
      <label class="form-label" for="postcode" id="q9-a1-label">
        <span class="heading-medium">Your mobile phone number</span>
        <span class="form-hint">
          For example, '01792 123456'
        </span>
        <input id="q9-a1" name="q9-a1" type="tel" maxlength="11" class="form-control" style="width: auto;"/>
        <br/>
      </label>
    </div>
	</div>

	<a class="button" href="javascript:next(this);">Continue</a>

<script>

document.getElementById('q8-a1').focus();

function next(element) {
  if(sessionStorage.condition) {
    if(sessionStorage.condition == 'diabetes') {
      //go('hypoglycaemia-symptoms');
      go('hypoglycaemia-episode');
    } else {
      go('legal-eyesight-standard');
    }
  }
}

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}