
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <form id="mmed-form" action="medical-form" method="get" class="form inline">

    <div class="grid-row" id="q1">
      <div class="column-full">

        <h4 class="heading-large">Do you treat your diabetes with insulin?</h4>

        <div class="form-group" id="question">
          <legend>
            <span class="error-message" style="display: none;">
              Please select a valid option
            </span>
          </legend>
          
          <label class="block-label" for="q1-a1" id="q1-a1-label">
            <input id="q1-a1" type="radio" name="q1-answer" value="Y" onclick="">Yes
          </label>
          <label class="block-label" for="q1-a2" id="q1-a2-label">
            <input id="q1-a2" type="radio" name="q1-answer" value="N" onclick="">No
          </label>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="validate();"> 
    </div>

  </form>

  <a class="back-to-previous" href="javascript:history.go(-1);">
    <i class="fa fa-angle-left"></i> Back <span class="visuallyhidden">to the previous question</span>
  </a> 

<script>
  
  function validate() {
      var value = $('input[name=q1-answer]:checked').val();
      
      if (value == 'Y') {
        go('hypoglycaemic-events?insulin=true');
      } else if (value == 'N') {
        go('hypoglycaemic-events?insulin=false');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
  }

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}