{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

  function exit() {
    window.location.href = 'https://www.gov.uk/browse/driving';
  }

</script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <br/>

  <!-- LEFT SIDE -->
   <div class="application-confirmation" style="margin-top:2em">
      <h1>✔ Thank you</h1>
      <h2>You do not need to inform DVLA
      </h2>
    </div>

    <div class="grid-row">
      <div class="column-full">


      <p style="margin-top:1em">
      <strong>If your condition gets worse or your doctor tells you not to drive, please let us know.</strong>

      <!--<p>
      <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/458792/INF188X6_221014.pdf">If you are applying for a driving licence there are other criteria you must meet</a>
    </p>-->

    <br/>

    <p>
      <button type="submit" id="continue" name="continue" value="" class="button next validation-submit" onclick="exit();">Return to GOV.UK</button>
    </p>
      </p>

    </div>
        
      <!--</p>  

      <p class="heading-medium" style="color: white; ">
         The information you have provided has been sent to DVLA for assessment
      </p>

      <p class="heading-small" style="color: white; " id="message">
           You do not need to inform DVLA-->
      </p> 
      <br/><br/><br/><br/><br/><br/><br/><br/><br/>

      <!--<p class="bold-small" style="background-color: white; padding: 5px; text-align: center;">
         Reference Number: 20151591
      </p>-->

    </div>

  </div>

  <!-- RIGHT SIDE -->
  <!--<div class="column-half">
    
    <p class="heading-large" style="padding-left: 10px;">
      What's next?
    </p>  

    <p>
      <img src="../public/images/icon-calendar-2x.png" style="width: 35px; float: left; margin-right: 14px; margin-left: 10px; padding-top: 7px"> 
      <span class="font-small" style=" padding-left: 70px; margin: -70px;">
        You will receive a letter in the <strong>next week</strong> to let you know how the assessment is progressing.
      </span> 
    </p>

    <p>
      <img src="../public/images/icon-important.png" style="float: left; margin-right: 14px;  margin-left: 10px"> 
      <span class="font-small" style="padding-left: 70px; margin: -70px;">
        <b class="heading-medium">Can I drive while enquiries are being made?</b>
        <p>DVLA cannot confirm your fitness to drive until this assessment is complete. If you wish to continue driving you must be confident that your licence would not be revoked due to your medical condition.</p>
        <p>If you are unsure please seek advice from your Doctor.</p>
      </span> 
    </p>

    <p>
      <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/458792/INF188X6_221014.pdf">If you are applying for a driving licence there are other criteria you must meet</a>
    </p>

    <br/>

    <p>
      <button type="submit" id="continue" name="continue" value="" class="button next validation-submit" onclick="exit();">Return to GOV.UK</button>
    </p>

  </div>-->

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
