{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}
    
  <div class="grid-row" id="q3">

    <div class="column-two-thirds">
      <h4 class="heading-large">Do you need to wear glasses or corrective lenses to meet these standards?</h4> 
      <div class="form-group inline" id="question">
        <span class="error-message" style="display: none;">Please select a valid option</span>
        <label class="block-label" for="q3-a1" id="q3-a1-label">
          <input id="q3-a1" type="radio" name="q3-answer" value="Y" onclick="">Yes
        </label>
        <label class="block-label" for="q3-a2" id="q3-a2-label">
          <input id="q3-a2" type="radio" name="q3-answer" value="N" onclick="">No
        </label>
      </div>
    </div>
  
    <div class="column-third" style="margin-top: 1.5em; margin-bottom:0.75em;">
      <nav class="popular-needs text-small">

        <h3 class="heading-small" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">The legal eyesight standard</h3>

        <p>If required, you may wear glasses or corrective lenses to meet the legal eyesight standard.</p>
      </nav>
    </div>
  
  </div>

  <div class="form-group">
    <input id="continue" type="button" class="button" value="Continue" onclick="validate();" /> 
  </div>

<script>
  function validate() {
      var value = $('input[name=q3-answer]:checked').val();

      if (value == 'Y') {
        go('laser-treatment');
      } else if (value == 'N') {
        go('laser-treatment');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      }
    }
  

/*function next() {
  window.location.href = 'your-driver-number';
}*/
</script>

 </main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}

