
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="form-group">

        <h1 class="heading-large">Please read the following information and confirm you have understood</h1>

        <h3 class="heading-small">Hypoglycaemia causes symptoms such as</h3>
        <ul class="list-bullet">
          <li>hunger</li>
          <li>shakiness</li>
          <li>nervousness</li>
          <li>sweating</li>
          <li>dizziness or light-headedness</li>
          <li>sleepiness</li>
          <li>confusion</li>
          <li>difficulty speaking</li>
          <li>anxiety</li>
          <li>weakness</li>
        </ul>

        <h3 class="heading-small">Hypoglycaemia can also happen during sleep. Some signs include</h3>
        <ul class="list-bullet">
          <li>crying out or having nightmares</li>
          <li>finding pyjamas or sheets damp from perspiration</li>
          <li>feeling tired, irritable, or confused after waking up</li>
        </ul>
      </div>

      <a class="button" href="hypoglycaemia-episode">I understand</a>
      <p></p>

      <ul>
        <li><a href="javascript:history.go(-1);">Back</a></li>
      </ul>
    </div>
  </div>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}

