
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <form action="medical-form" method="get" class="form inline">

    <div class="grid-row" id="q1">
      <div class="column-full">

        <h4 class="heading-large">Do you know what the symptoms of hypoglycaemia are?</h4>

      </div>
    </div>
  
    <div class="grid-row" id="q1">
      <div class="column-full">

        <div class="form-group" id="question">
          <legend>
            <span class="error-message" style="display: none;">
              Please select a valid option
            </span>
          </legend>
          
          <label class="block-label" for="q1-a1" id="q1-a1-label">
            <input id="q1-a1" type="radio" name="q1-answer" value="Y" onclick="">Yes
          </label>
          <label class="block-label" for="q1-a2" id="q1-a2-label">
            <input id="q1-a2" type="radio" name="q1-answer" value="N" onclick="">No
          </label>
        </div>

      </div>
    </div>

    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="validate()"> 
    </div>

  </form>

<script>
  
  function validate() {
      var value = $('input[name=q1-answer]:checked').val();
      
      if (value == 'Y') {
        go('hypoglycaemia-episode?flow={{flow}}&conditions={{conditions}}');
      } else if (value == 'N') {
        go('hypoglycaemia-symptoms-information');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
  }

  /*var data = {
    state: "",
    validate: "true",
    questions: [
      {id: "q1", type: "radio", active: "true", answers: [
          {id: "q1-a1", value: "", show: [], hide: [], decision: "1"},
          {id: "q1-a2", value: "", show: [], hide: [], decision: "2"}
        ]
      }
    ],
    decisions: [
      {id: "1", description: "Q1: Yes (Affect you)", message: "", redirect: "hypoglycaemia-episode?flow={{flow}}&conditions={{conditions}}"},
      {id: "2", description: "Q1: No (Affect you)", message: "", redirect: "hypoglycaemia-symptoms-information"}
    ]
  };

  initialise(data);*/

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}