
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <div class="grid-row">
    <div class="column-full">
      <div class="form-group">

        <h1 class="heading-xlarge">Symptoms of Hypoglycaemia</h1>

        <h3 class="heading-small">As you are a driver with insulin-treated diabetes, you need to know what the symptoms of hypoglycaemia are. Examples are shown below.</h3>
        <ul class="list-bullet">
          <li>hunger</li>
          <li>shakiness</li>
          <li>nervousness</li>
          <li>sweating</li>
          <li>dizziness or light-headedness</li>
          <li>sleepiness</li>
          <li>confusion</li>
          <li>difficulty speaking</li>
          <li>anxiety</li>
          <li>weakness</li>
        </ul>

        <h3 class="heading-small">Hypoglycaemia can also happen during sleep. Some signs include</h3>
        <ul class="list-bullet">
          <li>crying out or having nightmares</li>
          <li>finding pyjamas or sheets damp from perspiration</li>
          <li>feeling tired, irritable, or confused after waking up</li>
        </ul>
      </div>

        <div class="form-group" id="question">
          <legend>
            <span class="error-message" style="display: none;">
              Please select a valid option
            </span>
          </legend>
          
          <label class="block-label" for="q15-a1" id="q15-a1-label">
            <input id="q15-a1" type="radio" name="q15-answer" value="Y">
            I know the symptoms
          </label>
          <label class="block-label" for="q15-a2" id="q15-a2-label">
            <input id="q15-a2" type="radio" name="q15-answer" value="N">
            I don't know the symptoms
          </label>
        </div>

      <a class="button" href="javascript:validate(this);">Continue</a>
      <p></p>

    </div>
  </div>

<script>

  function validate(element) {
     var value = $('input[name=q15-answer]:checked').val();
      
      if (value == 'Y') {
          go('hypoglycaemia-episode');
      } else if (value == 'N') {
          //go('automatic-gears');
          alert('Where should I go now?');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
  }

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}

