
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h4 class="heading-large">Do you get the warning symptoms of hypoglycaemia?</h4>

      <div class="form-group" id="question">
        <legend>
          <span class="error-message" style="display: none;">
              Please select a valid option
        </span>
        </legend>
        <fieldset class="inline" id="q3">
          <label class="block-label" for="q3-a1" id="q3-a1-label">
            <input id="q3-a1" type="radio" name="q3-answer" value="Y" onclick="">Yes
          </label>
          <label class="block-label" for="q3-a2" id="q3-a2-label">
            <input id="q3-a2" type="radio" name="q3-answer" value="N" onclick="">No
          </label>
        </fieldset>
      </div>


      <div class="form-group">
        <input id="continue" type="button" class="button" value="Continue" onclick="validate();" />
      </div>

      <ul>
        <li><a href="javascript:history.go(-1);">Back</a></li>
      </ul>
    </div>
  </div>

  <script>
    function validate() {
      var value = $('input[name=q3-answer]:checked').val();

      if (value == 'Y') {
        go('healthcare-professional');
      } else if (value == 'N') {
        go('healthcare-professional');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      }
    }

    /*var data = {
      state: "",
      validate: "true",
      questions: [
        {id: "q3", type: "radio", active: "true", answers: [
            {id: "q3-a1", value: "", show: [], hide: [], decision: "1"},
            {id: "q3-a2", value: "", show: [], hide: [], decision: "2"}
          ]
        }
      ],
      decisions: [
        {id: "1", description: "Yes", message: "", redirect: "legal-eyesight-standard"},
        {id: "2", description: " No", message: "", redirect: "legal-eyesight-standard"}
      ]
    };

    initialise(data);*/
  </script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}

