{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<script>

if(sessionStorage.condition) {
  sessionStorage.removeItem('condition');
}

function start() {
  window.location.href = 'condition-selection';
}

</script>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <div id="notify" class="starthidden">
    <div class="grid-row" style="margin-top:1.5em">

    <div class="column-two-thirds">
      <h1 style="margin-top:0.5em;" class="form-title heading-xlarge">
        Tell DVLA about your medical condition
      </h1>

      <p>You can use this service to tell DVLA about your medical condition.</p>

      <p>It is a legal requirement to tell DVLA of a medical condition that might affect your driving.</p>

      <div style="padding-top: 0px; padding-bottom: 5px;" class="panel-indent">
        <!--div class="help-notice">
          <h2 class="heading-medium">Don’t worry</h2>
        </div-->
        <h2 class="heading-medium">Don’t worry</h2>
        <p>Most drivers are allowed to continue driving.</p>
      </div>

      <h2 class="heading-medium">What you'll need</h2>
            <ul class="list-bullet" style="margin-bottom: 0;">
              <li>to be a resident in Great Britain - there is a different process in <a href="http://amdr.herokuapp.com/COA_Direct_v4/Landing_page">Northern Ireland, Isle of Man and the Channel Islands</a>
              <li>your healthcare professionals' (eg GP, nurse, consultant) details</li>
            </ul>

      <!--details style="margin-top: 1em;">
          <summary>
            <span class="summary">
              What you'll need
            </span>
          </summary>
          <div class="panel-indent">
            <ul class="list-bullet" style="margin-bottom: 0;">
              <li>to be a resident in Great Britain - there is a different process in <a href="http://amdr.herokuapp.com/COA_Direct_v4/Landing_page">Northern Ireland, Isle of Man and the Channel Islands</a>.
              <li>your personal details</li>
              <li>your healthcare professionals' (e.g. GP, Nurse, Consultant) details</li>
            </ul>
          </div>
      </details-->

      <br/><br/>
      
      <div style="">
        <h2 style="display: inline;">
          <img src="/public/images/verify-logo-inline.png" style="width: 100px; display: inline; float: left;"/>
          <strong>GOV.UK</strong>
          <br/>
          VERIFY
        </h2>
      </div>
      <br/>
      <p>This service uses GOV.UK Verify to check your identity.</p>

      <br/>

      <a href="javascript:start();" class="button button-get-started" role="button">Start now</a>

    </div>

    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:1em;padding-top:1em">Driving with a medical condition</h3>

        <ul style="list-style-type: none;">
          <li style="margin-top: 0.5em;"><a href="https://www.gov.uk/health-conditions-and-driving">Conditions that need to be reported</a></li>
          <li style="margin-top: 0.5em;"><a href="https://www.gov.uk/driving-licence-categories">Types of driving licences</a></li>
          <li style="margin-top: 0.5em;"><a href="https://www.gov.uk/giving-up-your-driving-licence">I want to give up my licence</a></li>
        </ul>
      </nav>
    </div>

    </div>
  </div>

  <div id="renewal" class="starthidden">
    <div class="grid-row" style="margin-top:1.5em">

    <div class="column-two-thirds">
      <h1 style="margin-top:0.5em;" class="form-title heading-xlarge">
        Renew your medical driving licence
      </h1>

      <p>Use this service to:</p>

      <ul class="list-bullet">
        <li>renew your medical driving licence</li>
      </ul>

      <p>If you need to tell DVLA about a different condition, download and complete the paper form – then post it to DVLA.</p>

      <a href="javascript:start();" class="button button-get-started" role="button">Start now</a>
      
      <h2 class="heading-medium" style="margin-top:0.75em">Other ways to apply</h2>

      <h2 class="heading-small" style="margin-top:0.75em">By post</h2> Please provide the following:
      <ul class="list-bullet">
        <li>your full name and address</li>
        <li>your driving licence number (or your date of birth if you do not know your driving licence number)</li>
        <li>details about your medical condition</li>
      </ul>
      <p>Send to:</p>

      Drivers Medical Group
      <br> DVLA
      <br> Swansea
      <br> SA99 1TU
    </div>

    <div class="column-third" style=";margin-bottom:0.75em">
      <nav class="popular-needs">

        <h3 class="heading-medium" style="border-top:10px solid #005ea5;margin-top:1em;padding-top:1em">Driving with a medical condition</h3>

        <ul style=";list-style-type: none">
          <li style="margin-top: 0.5em;"><a href="https://www.gov.uk/health-conditions-and-driving">Conditions that need to be reported</a></li>
          <li style="margin-top: 0.5em;"><a href="https://www.gov.uk/driving-licence-categories">Types of driving licences</a></li>
          <li style="margin-top: 0.5em;"><a href="https://www.gov.uk/giving-up-your-driving-licence">I want to give up my licence</a></li>
        </ul>
      </nav>
    </div>

    </div>
  </div>

<script>

show((QueryString.service == null) ? 'notify' : QueryString.service);

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}