
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <form id="mmed-form" action="medical-form" method="get" class="form inline">
    
  <!--h1 class="heading-xlarge form-title">
    Blood Glucose/Sugar Testing
  </h1-->
      
    <div class="grid-row">
      <div class="column-full">
        <h4 class="heading-large">Do you understand the need to test your blood glucose/sugar at times relevant to driving ?</h4>

        <span class="form-hint">not more than 2 hours before the start of the journey and every 2 hours while driving</span>


        <div class="form-group" id="question">
          <legend>
            <span class="error-message" style="display: none;">
              Select an option
            </span>
          </legend>
          
          <label class="block-label" for="q7-a1" id="q7-a1-label">
            <input id="q7-a1" type="radio" name="q7-answer" value="Y">Yes
          </label>
          <label class="block-label" for="q7-a2" id="q7-a2-label">
            <input id="q7-a2" type="radio" name="q7-answer" value="N">No
          </label>
        </div>

        <!--
        <div class="important-notice">
          <p>Please read the following information carefully and tick the consent box:</p>
        </div>

        <div id="outer-group" name="outer-group" class="form-group">
		      <label id="outer-label" name="outer-label" class="large-block-label" for="declaration">
		        <input id="declaration" name="declaration" type="checkbox" style="display: none;" onchange="handle(this);"/>
              <span id="outer-span" name="outer-span" class="bounding-input">
                <span id="inner-span" name="inner-span" class="bounding-input-inner"></span>
              </span> 
              I have insulin treated diabetes and I understand the need to test my blood glucose/sugar at times relevant to driving (not more than 2 hours before the start of the first journey and every 2 hours while driving).
		      </label>
        </div>
        -->

      </div>
    </div>
    
    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="validate();"> 
    </div>
    
  </form>

<script>

  function validate() {
      var value = $('input[name=q7-answer]:checked').val();
      if(value) {
        //go('hypoglycaemia-warning-symptoms');
        go('legal-eyesight-standard');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
  }

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}