{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <div class="grid-row" id="q3">

    <div class="column-two-thirds">
      <h4 class="heading-large">Can you meet the legal eyesight standard for driving?</h4>

      <div id="question" class="form-group">

        <span class="error-message" style="display: none;">
              Select an option
        </span>

        <div class="block">
          <label class="block-label" for="q3-a1" id="q3-a1-label">
            <input id="q3-a1" type="radio" name="q3-answer" value="Y" onclick="">Yes
          </label>
          <label class="block-label" for="q3-a2" id="q3-a2-label">
            <input id="q3-a2" type="radio" name="q3-answer" value="G" onclick="">Yes with glasses or corrective lenses
          </label>
          <label class="block-label" for="q3-a3" id="q3-a3-label">
            <input id="q3-a3" type="radio" name="q3-answer" value="N" onclick="">No
          </label>
        </div>
      </div>

      <div class="form-group">
        <input id="continue" type="button" class="button" value="Continue" onclick="validate();" />
      </div>

    </div>

    <div class="column-third" style="margin-top: 1.5em; margin-bottom:0.75em;">
      <nav class="popular-needs text-small">

        <h3 class="heading-small" style="border-top:10px solid #005ea5;margin-top:0;padding-top:1em">The legal eyesight standard</h3>

        <ul class="list-bullet">
          <li>you must be able to read a car number plate from 20 metres
            <img src="/public/images/icons/read-number-plate-diagram.png" style="max-width: 100%;">
          </li>
          <li>you must not have been told by a doctor or optician that your eyesight is currently worse than 6/12 (decimal 0.5) on the Snellen scale
            <img src="/public/images/icons/snellen-scale-diagram.png" style="max-width: 100%;">
          </li>
        </ul>
        <p>If you are in any doubt, you should discuss with your optician or doctor.</p>
      </nav>
    </div>


  </div>

  <script>
    //alert(sessionStorage.condition);

    function validate() {
      var value = $('input[name=q3-answer]:checked').val();

      var targetA = 'number-of-eyes';
      var targetB = 'number-of-eyes';
      var targetC = 'number-of-eyes';

      if(sessionStorage.condition) {
        if(sessionStorage.condition == 'glaucoma') {
          targetA = 'medical-consent-part-1';
          targetB = 'medical-consent-part-1';
          targetC = 'summary';
        }
      }

      if (value == 'Y') {
        go(targetA);
      } else if (value == 'G') {
        go(targetB);
      } else if (value == 'N') {
        go(targetC);
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      }
    }

  </script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}

