
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

    <div class="grid-row" id="q1">
      <div class="column-full">

        <h4 class="heading-large">Who do you see for your diabetic care?</h4>

        <div class="form-group" id="question">
          <legend>
            <span class="error-message" style="display: none;">
              Select an option
            </span>
          </legend>
          
          <label class="block-label" for="q7-a1" id="q7-a1-label">
            <input id="q7-a1" type="radio" name="q7-answer" value="GP">GP
          </label>
          <label class="block-label" for="q7-a2" id="q7-a2-label">
            <input id="q7-a2" type="radio" name="q7-answer" value="GP">GP Nurse
          </label>
          <label class="block-label" for="q7-a3" id="q7-a3-label">
            <input id="q7-a3" type="radio" name="q7-answer" value="Consultant">Consultant
          </label>
          <label class="block-label" for="q7-a4" id="q7-a4-label">
            <input id="q7-a4" type="radio" name="q7-answer" value="Consultant">Nurse Specialist
          </label>

        </div>
      </div>
    </div>
  
    <div class="form-group">
      <input id="continue" name="continue" type="button" class="button" value="Continue" onclick="validate();"> 
    </div>

<script>
  
  function validate() {
      var value = $('input[name=q7-answer]:checked').val();
      
      if(value) {
        sessionStorage.medicalProfessional = value;
        go('consultant-details');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
  }

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}
