
{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

<script>

function next() {
  window.location.href = 'medical-consent-part-2';
}

function handle(element) {
  document.getElementById('continue').disabled = (!(element.checked));
}

</script>

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}
    
  <h1 class="heading-large form-title">
    Consent to Medical Enquiry
  </h1>
  
  <form action="medical-form" method="get" class="form">
    
    <div class="grid-row content-block" id="qq" style="display: block;">
      <div class="column-two-thirds">
        <div class="important-notice">
          <p>Please read the following information carefully and tick to indicate your consent. If you do not provide consent to the sharing of your information with medical professionals we will be unable to carry out adequate medical investigations and we will have to revoke your entitlement to drive.</p>
        </div>

        <div id="outer-group" name="outer-group" class="form-group">
		      <label id="outer-label" name="outer-label" class="large-block-label" for="declaration">
		        <input id="declaration" name="declaration" type="checkbox" style="display: none;" onchange="handle(this);"/>
              <span id="outer-span" name="outer-span" class="bounding-input">
                <span id="inner-span" name="inner-span" class="bounding-input-inner"></span>
              </span> 
              <p>I agree that medical reports relevant to my fitness to drive may be disclosed to DVLA. These reports may be obtained from doctors, orthoptists, paramedical staff.</p>
              <p>I agree that DVLA can disclose relevant personal and medical information to doctors, orthoptists, paramedical staff, driving assessors, occupational therapists and
                members of the Department for Transport's Medical Advisory Panels if neccesary.</p>

		      </label>
        </div>

      </div>
    </div>
    
    <div class="form-group">
      <!--input id="continue" name="continue" type="button" class="button" value="Continue" onclick="decision(this,'{{flow}}','{{conditions}}')"/--> 
      <input id="continue" name="continue" type="button" class="button" value="Save and continue" onclick="next();" disabled="true"/> 
    </div>
    
  </form>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}