{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <div class="form-group">

    <h1 class="heading-large">Your personal details</h1>
    <span class="form-hint">Please enter your personal details as they appear on your driving licence</span>

    <label class="form-label" for="driver-number">
      Driving Licence Number
    </label>
    <input class="form-control" id="driver-number" type="text" style="text-transform: uppercase;">
    <span class="form-hint">Example: MORGA753116SM9IJ</span>

    <p></p>

    <details>
      <summary><span class="summary">I don't know my driving licence number</span></summary>
        <div class="panel-indent">
          <p>
            If you do not know your driving licence number, you can find it by following the link below:
          </p>
          <p>
            <a href="https://www.gov.uk/view-driving-licence" target="_new" rel="external">View my driving licence</a>
          </p>
        </div>
    </details>

    <label class="form-label" for="first-name">
      First Name
    </label>
    <input class="form-control" id="first-name" type="text">

    <label class="form-label" for="middle-names">
      Middle Name(s)
    </label>
    <input class="form-control" id="middle-names" type="text">

    <label class="form-label" for="last-name">
      Surname
    </label>
    <input class="form-control" id="last-name" type="text">

    <label class="form-label" for="dob">
      Date of birth
    </label>
    <input class="form-control" style="width: auto;" type="date" id="date-of-birth" value="" placeholder="25/12/1976" onkeyup="isValidateDate(this);"/>

    <label class="form-label" for="postcode">
      Postcode
    </label>
    <input class="form-control" id="postcode" type="text" maxlength="8" style="text-transform: uppercase; width: auto;"/>

  </div>

  <a class="button" href="hypoglycaemia-symptoms">Continue</a>

<script>

// auto focus
document.getElementById('driver-number').focus();

// pre-populate
if(sessionStorage.driverNumber) document.getElementById('driver-number').value = sessionStorage.driverNumber;
if(sessionStorage.firstName) document.getElementById('first-name').value = sessionStorage.firstName;
if(sessionStorage.middleNames) document.getElementById('middle-names').value = sessionStorage.middleNames;
if(sessionStorage.lastName) document.getElementById('last-name').value = sessionStorage.lastName;


// validation
function isValidateDate(element) {
    var expression = new RegExp("^((0?[1-9]|[12][0-9]|3[01])[- /.](0?[1-9]|1[012])[- /.](19|20)?[0-9]{2})*$");
    return expression.test(element.value);
}

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}