{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<main id="page-container" role="main">
  {{>includes/phase_banner}}

  <h1 class="form-title heading-large">
    Do you need to drive a vehicle with special controls?
  </h1>
  <span class="form-hint">For example 'Combined braking with accelerator system'</span>
         
  <form action="D497check" method="get" class="form inline">     

    <details>
      <summary><span class="summary">Why we need to ask these questions</span></summary>
      <div class="panel-indent">
        <p>When you declare that you need to drive a vehicle fitted with special controls ; this will be updated onto your record and appear on the back of your licence.</p>
        <img src="/public/images/icons/driving-licence-back.png" alt="The back of the licence" height="160" width="236"/>
        <p>These codes tell you what conditions you must meet to drive.</p>
      </div>
    </details>

    <div class="grid-row" id="q16">

      <div class="column-two-thirds">
        <div class="form-group">
          <label class="block-label" for="q16-a1" id="q16-a1-label">
            <input id="q16-a1" type="radio" name="q16-answer" value="Y">
            Yes
          </label>
          <label class="block-label" for="q16-a2" id="q16-a2-label">
            <input id="q16-a2" type="radio" name="q16-answer" value="N">
            No
          </label>
        </div>
      </div>

      <div class="column-third">
        <p></p>
      </div>

    </div>

    <div class="form-group">
      <input id="continue" type="button" class="button" value="Save and continue" onclick="validate(this)"/> 
    </div>

    <ul>
      <li><a href="javascript:history.go(-1);">Back</a></li>
    </ul>

  </form>

<script>

  function validate(element) {
      var value = $('input[name=q16-answer]:checked').val();
      
      if (value == 'Y') {
        go('car-bike-moped');
      } else if (value == 'N') {
        go('consultant-consent');
      } else {
        $('#question').addClass('error');
        $('.error-message').show();
      } 
  }

</script>

</main>


{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}