{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
	{{>includes/phase_banner}}

	<div class="form-group">

		<h1 class="heading-large">Your address details</h1>
		<span class="form-hint">Please enter your full address and postcode as it appears on your licence</span>

		<label class="form-label" for="postcode">
			Postcode
		</label>
		<input class="form-control" id="postcode" type="text" maxlength="8" style="text-transform: uppercase;"/>
	</div>

	<a class="button" href="summary">Continue</a>


<script>

document.getElementById('postcode').focus();

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}