{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

   	<h1 class="heading-large">What is your Driving Licence number?</h1>

		<input class="form-control" id="driving-licence-number" type="text" style="text-transform: uppercase;">
		<span class="form-hint">Example: MORGA753116SM9IJ</span>

		<p></p>

		<div>
			<details>
				<summary role="button" aria-controls="details-content" tabindex="0" aria-expanded="true">
					<span class="summary">Help with driving licence number</span>
				</summary>
				<div class="panel-indent" id="details-content" aria-hidden="false" style="display:block;">
          			<p>Your driving licence number can be found in section 5 of your photocard driving licence or in section "x" of your paper driving licence.</p>
          			<p>
            			<img src="{{assetPath}}images/driving-licence-number-diagram.png" alt="Where to find your driving licence number" height="160" width="360"/>
            			<img src="{{assetPath}}images/paper_driving_licence.jpg" alt="Where to find your driving licence number" height="160" width="360"/>
          			</p>
					<details>
						<summary role="button" aria-controls="details-content" tabindex="0" aria-expanded="true">
							<span class="summary">I can't provide my driving licence number</span>
						</summary>
						<div id="details-content" aria-hidden="false" style="display:block;">
							<p>Why can't you provide your driving licence number?</p>
							<textarea cols="40" rows="5" style="width: auto;"></textarea>
						</div>
						<a class="button" href="exit/no-driving-licence-number">Continue</a>
					</details>
				</div>
			</details>
		</div>

	</div>

	<p></p>

	<a class="button" href="your-personal-details">Continue</a>

<script>

document.getElementById('driving-licence-number').focus();

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}