{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

   	<h1 class="heading-large">What is your Driving Licence number?</h1>

		<input class="form-control" id="driving-licence-number" type="text" style="text-transform: uppercase;">
		<span class="form-hint">Example: MORGA753116SM9IJ</span>

	<p></p>

	<details>
    	<summary><span class="summary">I don't know my driving licence number</span></summary>
        <div class="panel-indent">
          <p>
            If you do not know your driving licence number, you can find it by following the link below:
          </p>
          <p>
            <a href="https://www.gov.uk/view-driving-licence" target="_new" rel="external">View my driving licence</a>
          </p>
        </div>
    </details>

	<br/>

	<a class="button" href="your-personal-details">Continue</a>

<script>

document.getElementById('driving-licence-number').focus();

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}