{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

	<div class="form-group">
		<h1 class="heading-large">What is your full name?</h1>
		<span class="form-hint">Please enter your name as it appears on your licence</span>

		<label class="form-label" for="first-name">
			First Name
		</label>
		<input class="form-control" id="first-name" type="text">

		<label class="form-label" for="middle-names">
			Middle Names
		</label>
		<input class="form-control" id="middle-names" type="text">

		<label class="form-label" for="last-name">
			Last Name
		</label>
		<input class="form-control" id="last-name" type="text">

	</div>

	<a class="button" href="your-gender">Save and continue</a>

</main>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}