{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  {{>includes/elements_scripts}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation4}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<header class="page-header">

</header>

<main id="page-container" role="main">
  {{>includes/phase_banner}}

   	<h1 class="heading-large">What is your Driving Licence number?</h1>

		<input class="form-control" id="driving-licence-number" type="text">
		<span class="form-hint">Example: MORGA753116SM9IJ</span>

		<p></p>

		<div>
			<details>
				<summary role="button" aria-controls="details-content" tabindex="0" aria-expanded="true">
					<span class="summary">I don’t know my driving licence number</span>
				</summary>
				<div class="panel-indent" id="details-content" aria-hidden="false" style="display:block;">
					<p>Your driving licence number can be found in section 5 of your driving licence photocard.</p>
					<p><a href="your-title">I don't have my driving licence</a></p>
				</div>
			</details>
		</div>

	</div>

	<p></p>

	<a class="button" href="your-personal-details">Save and continue</a>

<script>

document.getElementById('driving-licence-number').focus();

</script>

</main>

{{/content}}

{{$bodyEnd}}
{{/bodyEnd}}

{{/govuk_template}}